Repository wpilibsuite/frc-docs, pull requests merged in 2019-10, with the labels that each got.

#232 Fixed wrong victor spx picture
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/victor-spx-motor-controller.png
Labels: Type: Cleanup

#180 Split publishing into multiple artifacts
  azure-pipelines.yml
Labels: Type: Structure

#181 New for 2020
  source/docs/software/wpilib-overview/index.rst
  source/docs/software/wpilib-overview/new-for-2019.rst
  source/docs/software/wpilib-overview/new-for-2020.rst
Labels: Type: New Article

#133 Add test mode
  source/docs/software/wpilib-overview/index.rst
  source/docs/software/wpilib-overview/using-test-mode.rst
Labels: Type: New Article

#191 Update command based
  source/docs/software/commandbased/binding-commands-to-triggers.rst
  source/docs/software/commandbased/command-based-changes.rst
  source/docs/software/commandbased/command-groups.rst
  source/docs/software/commandbased/command-scheduler.rst
  source/docs/software/commandbased/commands.rst
  source/docs/software/commandbased/convenience-features.rst
  source/docs/software/commandbased/images/commandflowchart.png
  source/docs/software/commandbased/index.rst
  source/docs/software/commandbased/original/commandbased.md
  source/docs/software/commandbased/pid-subsystems-commands.rst
  source/docs/software/commandbased/structuring-command-based-project.rst
  source/docs/software/commandbased/subsystems.rst
  source/docs/software/commandbased/what-is-command-based.rst
  source/docs/software/wpilib-overview/creating-robot-program.rst
Labels: Type: New Article

#280 Remove duplicated images
  source/docs/networking/networking-introduction/images/windows-firewall-configuration-4.png
  source/docs/networking/networking-introduction/windows-firewall-configuration.rst
  source/docs/software/vision-processing/introduction/configuring-an-axis-camera.rst
  source/docs/software/vision-processing/introduction/images/configuring-an-axis-camera/manual-camera-configuration.png
  source/docs/software/wpilib-tools/smartdashboard/images/smartdashboard-intro-6.png
  source/docs/software/wpilib-tools/smartdashboard/smartdashboard-intro.rst
Labels: Type: Structure

#284 Fixes Sphinx directives which don't have a space after the `..`
  source/docs/contributing/style-guide.rst
  source/docs/getting-started/getting-started-frc-control-system/control-system-hardware.rst
Labels: Type: Spelling/Grammar

#212 Add docs for trajectory gen and Ramsete
  source/docs/software/wpilib-tools/path-planning/index.rst
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/examples/trajectorygeneration-1/cpp/ExampleTrajectory.cpp
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/examples/trajectorygeneration-1/java/ExampleTrajectory.java
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/index.rst
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/manipulating-trajectories.rst
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/ramsete.rst
  source/docs/software/wpilib-tools/path-planning/wpilib-trajectories/trajectorygeneration.rst
Labels: Type: New Article

#229 Converts images of code into code-blocks
  source/docs/contributing/build-instructions.rst
  source/docs/contributing/images/build-instructions-3.png
  source/docs/getting-started/getting-started-frc-control-system/images/linux/toolsupdater.png
  source/docs/getting-started/getting-started-frc-control-system/wpilib-setup.rst
  source/docs/software/basic-programming/git-getting-started.rst
  source/docs/software/basic-programming/images/image8.png
  source/docs/software/basic-programming/images/image9.png
  source/docs/software/wpilib-tools/robotbuilder/introduction/images/robotbuilder-created-code-2.png
  source/docs/software/wpilib-tools/robotbuilder/introduction/images/robotbuilder-created-code-3.png
  source/docs/software/wpilib-tools/robotbuilder/introduction/images/robotbuilder-created-code-4.png
  source/docs/software/wpilib-tools/robotbuilder/introduction/images/robotbuilder-created-code-5.png
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-created-code.rst
  source/docs/software/wpilib-tools/smartdashboard/displaying-expressions.rst
  source/docs/software/wpilib-tools/smartdashboard/images/expressions-1.png
  source/docs/software/wpilib-tools/smartdashboard/test-mode-and-live-window/displaying-LiveWindow-values.rst
  source/docs/software/wpilib-tools/smartdashboard/test-mode-and-live-window/images/displaying-LiveWindow-values/add-code.png
Labels: Type: Cleanup
