Repository wpilibsuite/frc-docs, pull requests merged in 2020-04, with the labels that each got.

#605 Overhaul trajectory constraints documentation
  source/docs/software/advanced-controls/trajectories/constraints.rst
  source/docs/software/advanced-controls/trajectories/index.rst
  source/docs/software/advanced-controls/trajectories/trajectory-generation.rst
Labels: Waiting On: WPILib

#628 Allow text wrapping in tables
  source/_static/css/frc-rtd.css
Labels: Type: Style/CSS

#636 Orphan machine learning tutorial
  source/conf.py
  source/docs/software/examples-tutorials/machine-learning/adding-more-data.rst
  source/docs/software/examples-tutorials/machine-learning/how-it-works.rst
  source/docs/software/examples-tutorials/machine-learning/index.rst
  source/docs/software/examples-tutorials/machine-learning/inference.rst
  source/docs/software/examples-tutorials/machine-learning/setting-up-the-data.rst
  source/docs/software/examples-tutorials/machine-learning/testing.rst
  source/docs/software/examples-tutorials/machine-learning/training.rst
  source/docs/software/examples-tutorials/machine-learning/understanding-precision.rst
  source/docs/software/examples-tutorials/machine-learning/uploading-data-to-aws-s3.rst
  source/docs/software/examples-tutorials/machine-learning/using-inference-output.rst
Labels: Type: Structure

#638 Put contributing into its own section
  source/docs/contributing/frc-docs/build-instructions.rst
  source/docs/contributing/frc-docs/contribution-guidelines.rst
  source/docs/contributing/frc-docs/images/build-instructions-1.png
  source/docs/contributing/frc-docs/images/build-instructions-2.png
  source/docs/contributing/frc-docs/index.rst
  source/docs/contributing/frc-docs/style-guide.rst
  source/docs/contributing/frc-docs/top-contributors.rst
  source/index.rst
Labels: Type: Structure

#641 Add IMU details and diagrams
  source/docs/hardware/sensors/accelerometers-hardware.rst
  source/docs/hardware/sensors/gyros-hardware.rst
  source/docs/hardware/sensors/images/accelerometers-hardware/adxl193-single-axis-accelerometer-to-roborio.svg
  source/docs/hardware/sensors/images/accelerometers-hardware/navx-imu-to-roborio-mxp.svg
  source/docs/hardware/sensors/images/accelerometers-hardware/triple-axis-accelerometer-to-roborio.svg
  source/docs/hardware/sensors/images/analog-inputs-hardware/triple-axis-accelerometer-to-roborio.svg
  source/docs/hardware/sensors/images/gyros-hardware/analog-devices-frc-gyro-to-roborio.svg
  source/docs/hardware/sensors/images/gyros-hardware/drive-yaw-pitch-roll.svg
  source/docs/hardware/sensors/images/gyros-hardware/triple-axis-i2c-gyro-to-roborio.svg
  source/docs/hardware/sensors/images/roborio/roborio-accelerometer.svg
Labels: Type: Cleanup

#643 Update preemptive troubleshooting
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/blade-fuses.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/pcm-status-lights.svg
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/pdp-blade-fuses.svg
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/pdp-bolts.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckBatt.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckBreaker-1.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckBreaker-2.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckBreaker.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckConnecc.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckFuse.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckPDP.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckTools.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckTug-1.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckTug-2.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckTug.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/tools.svg
  source/docs/hardware/hardware-basics/preemptive-troubleshooting.rst
Labels: Type: Cleanup
