Repository wpilibsuite/frc-docs, pull requests merged in 2020-05, with the labels that each got.

#642 Update Status Lights page
  source/docs/getting-started/getting-started-frc-control-system/radio-programming.rst
  source/docs/hardware/hardware-basics/images/status-lights/dmc60c-status-lights.png
  source/docs/hardware/hardware-basics/images/status-lights/jagLight.png
  source/docs/hardware/hardware-basics/images/status-lights/jaguar-status-light.png
  source/docs/hardware/hardware-basics/images/status-lights/ogTalonLight.png
  source/docs/hardware/hardware-basics/images/status-lights/openmesh-radio-status-lights.png
  source/docs/hardware/hardware-basics/images/status-lights/pcm-status-lights.svg
  source/docs/hardware/hardware-basics/images/status-lights/pcmLight.png
  source/docs/hardware/hardware-basics/images/status-lights/pdp-status-lights.svg
  source/docs/hardware/hardware-basics/images/status-lights/pdpLight.png
  source/docs/hardware/hardware-basics/images/status-lights/radioLight.png
  source/docs/hardware/hardware-basics/images/status-lights/rev-robotics-servo-power-module.png
  source/docs/hardware/hardware-basics/images/status-lights/rioLight.png
  source/docs/hardware/hardware-basics/images/status-lights/roborio-status-lights.svg
  source/docs/hardware/hardware-basics/images/status-lights/rsl.svg
  source/docs/hardware/hardware-basics/images/status-lights/rslLight.png
  source/docs/hardware/hardware-basics/images/status-lights/sd540Light.png
  source/docs/hardware/hardware-basics/images/status-lights/sd540b-status-lights.png
  source/docs/hardware/hardware-basics/images/status-lights/sd540c-status-lights.png
  source/docs/hardware/hardware-basics/images/status-lights/servoLight.png
  source/docs/hardware/hardware-basics/images/status-lights/spikeRelay1Light.png
  source/docs/hardware/hardware-basics/images/status-lights/spikeRelay2Light.png
  source/docs/hardware/hardware-basics/images/status-lights/talon-srx-status-lights.png
  source/docs/hardware/hardware-basics/images/status-lights/talonsr-status-light.png
  source/docs/hardware/hardware-basics/images/status-lights/victor888-status-light.svg
  source/docs/hardware/hardware-basics/images/status-lights/victorLight.png
  source/docs/hardware/hardware-basics/images/status-lights/vrm-status-lights.svg
  source/docs/hardware/hardware-basics/images/status-lights/vrmLight.png
  source/docs/hardware/hardware-basics/status-lights-ref.rst
Labels: Type: Cleanup

#637 Add draw.io information
  source/docs/contributing/frc-docs/drawio-saving-instructions.rst
  source/docs/contributing/frc-docs/images/drawio-saving-instructions-1.png
  source/docs/contributing/frc-docs/index.rst
  source/docs/contributing/frc-docs/style-guide.rst
Labels: Type: New Article

#620 Add new Draw.io diagrams
  source/docs/networking/networking-introduction/diagrams/mixing-static-dynamic.drawio.svg
  source/docs/networking/networking-introduction/diagrams/nat.drawio.svg
  source/docs/networking/networking-introduction/images/networking-basics/nat-diagram.png
  source/docs/networking/networking-introduction/networking-basics.rst
  source/docs/software/basic-programming/diagrams/branches.drawio.svg
  source/docs/software/basic-programming/diagrams/merge-conflict.drawio.svg
  source/docs/software/basic-programming/git-getting-started.rst
  source/docs/software/commandbased/command-groups.rst
  source/docs/software/commandbased/command-scheduler.rst
  source/docs/software/commandbased/diagrams/concurrent-commands.drawio.svg
  source/docs/software/commandbased/diagrams/scheduler-run-sequence.drawio.svg
  source/docs/software/commandbased/diagrams/scheduler.drawio.svg
  source/docs/software/commandbased/diagrams/subsystems-and-commands.drawio.svg
  source/docs/software/commandbased/images/commandgroupchart.png
  source/docs/software/commandbased/images/subsystemscommands.png
  source/docs/software/commandbased/what-is-command-based.rst
  source/docs/software/sensors/images/sensor-overview-software/types-of-sensors.png
  source/docs/software/sensors/sensor-overview-software.rst
  source/docs/software/vision-processing/introduction/cameraserver-class.rst
  source/docs/software/vision-processing/introduction/diagrams/retroreflectivity-vs-reflectivity.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/sink.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/sources.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/vision-code-on-a-coprocessor.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/vision-code-on-ds-computer.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/vision-code-on-roborio.drawio.svg
  source/docs/software/vision-processing/introduction/diagrams/vision-workflows.drawio.svg
  source/docs/software/vision-processing/introduction/images/strategies-for-vision-programming/vision-workflows.png
  source/docs/software/vision-processing/introduction/images/target-info-and-retroreflection/examples-of-retroreflection.png
  source/docs/software/vision-processing/introduction/images/target-info-and-retroreflection/raised-pavement-marker.jpg
  source/docs/software/vision-processing/introduction/images/target-info-and-retroreflection/retroreflectivity-vs-reflectivity.png
  source/docs/software/vision-processing/introduction/images/target-info-and-retroreflection/vest.jpg
  source/docs/software/vision-processing/introduction/strategies-for-vision-programming.rst
  source/docs/software/vision-processing/introduction/target-info-and-retroreflection.rst
Labels: Type: Cleanup

#651 Adjust software/actuators style
  source/docs/software/actuators/overview.rst
  source/docs/software/actuators/pneumatics.rst
  source/docs/software/actuators/pwm-controllers.rst
  source/docs/software/actuators/servos.rst
  source/docs/software/actuators/using-speed-controllers.rst
  source/docs/software/actuators/wpi-drive-classes.rst
Labels: Type: Cleanup

#617 Add new Control system overview image
  source/docs/getting-started/getting-started-frc-control-system/control-system-hardware.rst
  source/docs/getting-started/getting-started-frc-control-system/how-to-wire-a-robot.rst
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/FRC-Control-System-Layout.svg
  source/docs/getting-started/getting-started-frc-control-system/images/how-to-wire-a-robot/FRC-Control-System-Layout.svg
  source/docs/getting-started/getting-started-frc-control-system/images/how-to-wire-a-robot/image0.jpg
Labels: Waiting On: Dependency
