Repository wpilibsuite/frc-docs, pull requests merged in 2020-10, with the labels that each got.

#854 Display warning marking latest as unstable.
  source/conf.py
  source/requirements.txt
Labels: Type: Configuration

#639 Add State Space Documentation
  source/docs/software/advanced-controls/index.rst
  source/docs/software/advanced-controls/introduction/controls-glossary.rst
  source/docs/software/advanced-controls/state-space/filter-comparison-data/iir-filter.csv
  source/docs/software/advanced-controls/state-space/filter-comparison-data/measurement.csv
  source/docs/software/advanced-controls/state-space/filter-comparison-data/median-filter.csv
  source/docs/software/advanced-controls/state-space/filter-comparison-data/xhat-state-2-measurement-1.csv
  source/docs/software/advanced-controls/state-space/filter-comparison-data/xhat-state-3-measurement-02.csv
  source/docs/software/advanced-controls/state-space/filter-comparison.py
  source/docs/software/advanced-controls/state-space/graph.py
  source/docs/software/advanced-controls/state-space/images/coordinate-systems.jpg
  source/docs/software/advanced-controls/state-space/images/elevator-phase-portrait.png
  source/docs/software/advanced-controls/state-space/images/filter_comparison.png
  source/docs/software/advanced-controls/state-space/images/flywheel-lqr-ex.jpg
  source/docs/software/advanced-controls/state-space/images/latency-comp-lqr.jpg
  source/docs/software/advanced-controls/state-space/images/linear-sin-x.jpg
  source/docs/software/advanced-controls/state-space/images/normal-distribution.png
  source/docs/software/advanced-controls/state-space/images/pendulum-balance.png
  source/docs/software/advanced-controls/state-space/images/pendulum-closed-loop.png
  source/docs/software/advanced-controls/state-space/images/pendulum-markedup.jpg
  source/docs/software/advanced-controls/state-space/images/pendulum-phase-plot.png
  source/docs/software/advanced-controls/state-space/images/state-space-graph.png
  source/docs/software/advanced-controls/state-space/index.rst
  source/docs/software/advanced-controls/state-space/latency.py
  source/docs/software/advanced-controls/state-space/linearization.py
  source/docs/software/advanced-controls/state-space/state-space-debugging.rst
  source/docs/software/advanced-controls/state-space/state-space-flywheel-walkthrough.rst
  source/docs/software/advanced-controls/state-space/state-space-glossary.rst
  source/docs/software/advanced-controls/state-space/state-space-intro.rst
  source/docs/software/advanced-controls/state-space/state-space-observers.rst
  source/docs/software/advanced-controls/state-space/state-space-pose_state-estimators.rst
  source/docs/software/advanced-controls/trajectories/ramsete.rst
  source/docs/software/wpilib-tools/robot-simulation/index.rst
  source/docs/software/wpilib-tools/robot-simulation/physics-sim.rst
Labels: Type: New Article

#860 Replace grayhill PDF link
  source/docs/hardware/sensors/encoders-hardware.rst
Labels: Type: Cleanup

#864 Correct `WPIlib`->`WPILib`
  source/docs/getting-started/getting-started-frc-control-system/wpilib-setup.rst
Labels: Type: Cleanup, hacktoberfest-accepted

#865 Fix example code indentation
  source/docs/getting-started/running-a-benchtop/creating-benchtop-test-program-cpp-java.rst
Labels: Type: Cleanup, hacktoberfest-accepted

#871 Clarify that flush() impacts NT, not Shuffleboard
  source/docs/software/advanced-controls/state-space/state-space-debugging.rst
Labels: Type: Cleanup

#874 Fix state space typo
  source/docs/software/advanced-controls/state-space/state-space-flywheel-walkthrough.rst
Labels: Type: Cleanup

#876 Fix command scheduler code links
  source/docs/software/commandbased/what-is-command-based.rst
Labels: Type: Cleanup, bug

#877 Add 24px margin-bottom to images in tabs
  source/_static/css/frc-rtd.css
Labels: Type: Style/CSS

#880 Upgrade to MathJax 3
  source/conf.py
Labels: Type: Configuration

#881 Update Style Guide
  source/docs/contributing/frc-docs/style-guide.rst
Labels: Type: Style/CSS

#884 Correct Term Capitilization
  source/docs/beta/beta-getting-started/trackers-reporting-bugs.rst
  source/docs/contributing/frc-docs/contribution-guidelines.rst
  source/docs/contributing/frc-docs/style-guide.rst
  source/docs/software/basic-programming/git-getting-started.rst
  source/docs/software/networktables/client-side-program.rst
  source/docs/software/networktables/reading-array-values-published-by-networktables.rst
  source/docs/software/vision-processing/grip/introduction-to-grip.rst
  source/docs/software/what-is-wpilib.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-setup.rst
  source/docs/software/wpilib-tools/shuffleboard/custom-widgets/creating-a-new-widget.rst
  source/docs/software/wpilib-tools/shuffleboard/getting-started/shuffleboard-faq.rst
  source/docs/software/wpilib-tools/shuffleboard/getting-started/shuffleboard-tour.rst
  source/docs/software/wpilib-tools/smartdashboard/verifying-smartdashboard-is-working.rst
Labels: Type: Cleanup

#885 Update Sphinx to 3.2.1
  source/requirements.txt
Labels: Type: Configuration

#872 Link to contributing section in README
  README.md
Labels: Type: Cleanup

#886 Force Color Output
  Makefile
  make.bat
Labels: Type: Configuration

#875 Cleanup Radio Programming Article
  source/docs/zero-to-robot/step-2/images/radio-programming/settings-change-adapter.png
  source/docs/zero-to-robot/step-2/images/radio-programming/settings-network-internet.png
  source/docs/zero-to-robot/step-2/images/radio-programming/start-menu-win10.png
  source/docs/zero-to-robot/step-2/radio-programming.rst
Labels: Type: Cleanup

#887 Update Java q and r example to use N2 instead of 2
  source/docs/software/advanced-controls/state-space/state-space-intro.rst
Labels: bug

#856 Developer docs for allwpilib
  source/docs/contributing/wpilib/index.rst
  source/docs/contributing/wpilib/other-wpilib-versions.rst
  source/redirects.txt
Labels: Type: Cleanup, Type: New Article, hacktoberfest-accepted

#895 Add docs for withName() command decorator
  source/docs/software/commandbased/convenience-features.rst
Labels: Type: New Article

#898 Add RobotBuilder Outdated Note
  source/docs/software/wpilib-tools/robotbuilder/advanced/index.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-custom-components.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-drive-tank.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-pidsubsystem-actuators.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-setpoint-command.rst
  source/docs/software/wpilib-tools/robotbuilder/index.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/index.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-created-code.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-creating-command.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-creating-subsystem.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-default-autonomous-command.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-interface.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-operator-interface-to-command.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-overview.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-setup.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-testing-with-smartdashboard.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/starting-robotbuilder.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/index.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-generating-code.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-writing-command-code.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-writing-pidsubsystem-code.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-writing-subsystem-code.rst
Labels: Minor Addition

#890 Reformat and update FRC Game Tools
  source/docs/zero-to-robot/step-2/frc-game-tools.rst
Labels: Type: Cleanup

#901 Add Sphinx Panels Extension
  source/conf.py
  source/requirements.txt
Labels: Type: Configuration

#896 Remove Redundancy in root TOC
  source/index.rst
Labels: Needs Design Decision, Type: Cleanup

#755 Document vendordep gradle task
  source/docs/software/vscode-overview/3rd-party-libraries.rst
Labels: Type: New Article

#902 Fix Links
  source/docs/networking/networking-introduction/networking-basics.rst
  source/docs/software/basic-programming/robot-code-ci.rst
  source/docs/software/driverstation/driver-station-best-practices.rst
  source/docs/software/support/support-resources.rst
Labels: bug

#882 Rewrite WPILib Installer Article
  source/docs/zero-to-robot/step-2/images/linux/extract-wpilib.png
  source/docs/zero-to-robot/step-2/images/linux/install-vscode.png
  source/docs/zero-to-robot/step-2/images/linux/install-vsix.png
  source/docs/zero-to-robot/step-2/images/linux/java-11.png
  source/docs/zero-to-robot/step-2/images/linux/vsix-files.png
  source/docs/zero-to-robot/step-2/images/linux/wpi-github.png
  source/docs/zero-to-robot/step-2/images/mac/CppVSIX.png
  source/docs/zero-to-robot/step-2/images/mac/GatekeeperWarning.png
  source/docs/zero-to-robot/step-2/images/mac/GatekeeperWarningOpen.png
  source/docs/zero-to-robot/step-2/images/mac/InstallFromVSIX.png
  source/docs/zero-to-robot/step-2/images/mac/JDKHome.png
  source/docs/zero-to-robot/step-2/images/mac/MacReleasePage.png
  source/docs/zero-to-robot/step-2/images/mac/MovedFiles.png
  source/docs/zero-to-robot/step-2/images/mac/SecurityPreferences.png
  source/docs/zero-to-robot/step-2/images/mac/SecurityPreferencesAllow.png
  source/docs/zero-to-robot/step-2/images/mac/ToolsUpdater.png
  source/docs/zero-to-robot/step-2/images/mac/UntarredRelease.png
  source/docs/zero-to-robot/step-2/images/mac/VisualStudioCode.png
  source/docs/zero-to-robot/step-2/images/windows/DesktopIcon.png
  source/docs/zero-to-robot/step-2/images/windows/DownloadVSCode.png
  source/docs/zero-to-robot/step-2/images/windows/ExecuteInstall.png
  source/docs/zero-to-robot/step-2/images/windows/Finished.png
  source/docs/zero-to-robot/step-2/images/windows/InstallationType.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/EnvironmentVariables.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/extract-windows-10.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/extract-windows-7.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/installer-example-error.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/installer-installing.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/installer-options.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/installer-start.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/installer-vscode-download.png
  source/docs/zero-to-robot/step-2/images/wpilib-setup/macos-launch.png
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Type: New Article
