Repository wpilibsuite/frc-docs, pull requests merged in 2020-06, with the labels that each got.

#697 Reduce image size
  source/docs/getting-started/getting-started-frc-control-system/control-system-hardware.rst
  source/docs/getting-started/getting-started-frc-control-system/how-to-wire-a-robot.rst
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/pneumatics-control-module.png
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/power-distribution-panel.png
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/talonsrx-motor-controller.png
  source/docs/getting-started/getting-started-frc-control-system/images/control-system-hardware/voltage-regulator-module.png
  source/docs/getting-started/getting-started-frc-control-system/images/frc-control-system-layout.svg
  source/docs/getting-started/getting-started-frc-control-system/images/how-to-wire-a-robot/FRC-Control-System-Layout.svg
  source/docs/getting-started/getting-started-frc-control-system/images/how-to-wire-a-robot/image11.jpg
  source/docs/getting-started/getting-started-frc-control-system/images/labview/uninstall_old_control_panel.png
  source/docs/getting-started/getting-started-frc-control-system/images/mac/CppVSIX.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/pdp-bolts.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/preCheckConnecc.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/tools.png
  source/docs/hardware/hardware-basics/images/preemptive-troubleshooting/tools.svg
  source/docs/hardware/hardware-basics/images/status-lights/victorSPLight.png
  source/docs/hardware/hardware-basics/preemptive-troubleshooting.rst
  source/docs/networking/networking-introduction/diagrams/mixing-static-dynamic.drawio.svg
  source/docs/software/actuators/images/pneumatics-control-module.png
  source/docs/software/driverstation/images/imaging-your-classmate/image-the-classmate.png
  source/docs/software/driverstation/images/imaging-your-classmate/open-wireless-device-properties.png
  source/docs/software/driverstation/images/imaging-your-classmate/uninstall-driver.png
  source/docs/software/examples-tutorials/machine-learning/images/supervisely-labeling.png
  source/docs/software/vision-processing/grip/images/using-grip-with-a-kangaroo-computer/setup.png
  source/docs/software/vision-processing/introduction/diagrams/vision-code-on-a-coprocessor.drawio.svg
  source/docs/software/vision-processing/raspberry-pi/diagrams/vision-code-on-a-coprocessor.drawio.svg
Labels: Type: Cleanup

#699 Add screenshot for clarity for C++ sim
  source/docs/software/wpilib-tools/robot-simulation/images/vs-build-tools.png
  source/docs/software/wpilib-tools/robot-simulation/introduction.rst
Labels: Type: Cleanup

#696 Add image file size check
  Makefile
  README.md
  azure-pipelines.yml
  make.bat
  scripts/imagesizechecker.py
  source/conf.py
  source/docs/contributing/frc-docs/build-instructions.rst
Labels: Type: Cleanup

#710 Renamed miktex dependency
  miktex-packages.txt
Labels: Type: Cleanup

#725 Remove unused exclusions
  source/conf.py
Labels: Type: Cleanup

#700 Fix more typos
  source/docs/software/commandbased/command-based-changes.rst
  source/docs/software/commandbased/commands.rst
  source/docs/software/commandbased/what-is-command-based.rst
Labels: Type: Cleanup

#729 Fix typo in Translations
  source/docs/contributing/frc-docs/translations.rst
Labels: Type: Cleanup

#730 Update dependencies
  source/conf.py
  source/requirements.txt
Labels: Type: Structure

#717 Geometry docs
  .tx/config
  source/docs/software/advanced-controls/geometry/coordinate-systems.rst
  source/docs/software/advanced-controls/geometry/diagrams/coordinate-systems-1.drawio.svg
  source/docs/software/advanced-controls/geometry/diagrams/coordinate-systems-2.drawio.svg
  source/docs/software/advanced-controls/geometry/images/coordinate-systems-1.jpg
  source/docs/software/advanced-controls/geometry/index.rst
  source/docs/software/advanced-controls/geometry/pose.rst
  source/docs/software/advanced-controls/geometry/transformations.rst
  source/docs/software/advanced-controls/index.rst
Labels: Type: New Article
