Repository wpilibsuite/frc-docs, pull requests merged in 2020-12, with the labels that each got.

#963 Add Metric Equivalents
  source/docs/software/sensors/ultrasonics-software.rst
  source/docs/software/vision-processing/axis-camera/camera-settings.rst
  source/docs/software/vision-processing/introduction/identifying-and-processing-the-targets.rst
  source/docs/zero-to-robot/step-1/how-to-wire-a-robot.rst
Labels: i18n

#951 Moved the Disabling Network Adapters section and linked / Reordered troubleshooting to be more clear
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/adapter-settings.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/disable-network-adapter.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/network-and-sharing-center.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/network-internet.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/open-control-panel.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/settings-change-adapter.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/settings-network-internet.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/start-menu-win10.png
  source/docs/networking/networking-introduction/roborio-network-troubleshooting.rst
  source/docs/zero-to-robot/step-3/imaging-your-roborio.rst
  source/docs/zero-to-robot/step-3/radio-programming.rst
Labels: Type: Cleanup, Type: Structure

#964 Change ComandBased Example to Flywheel
  source/docs/software/commandbased/convenience-features.rst
Labels: Type: Cleanup

#955 Add Right-to-Left support
  source/_static/css/frc-rtl.css
  source/conf.py
Labels: Type: Style/CSS

#970 Add toggle example showing how to combine with StartEndCommand
  source/docs/software/commandbased/binding-commands-to-triggers.rst
Labels: Examples

#968 Improve the VS Code Debugging Page with Relevant Links
  source/docs/networking/networking-introduction/measuring-bandwidth-usage.rst
  source/docs/software/basic-programming/git-getting-started.rst
  source/docs/software/examples-tutorials/wpilib-examples.rst
  source/docs/software/labview/creating-robot-programs/tank-drive-tutorial.rst
  source/docs/software/vision-processing/axis-camera/using-the-axis-camera-at-single-network-events.rst
  source/docs/software/vscode-overview/3rd-party-libraries.rst
  source/docs/software/vscode-overview/creating-robot-program.rst
  source/docs/software/vscode-overview/debugging-robot-program.rst
  source/docs/software/vscode-overview/importing-eclipse-project.rst
  source/docs/software/vscode-overview/importing-gradle-project.rst
  source/docs/software/vscode-overview/index.rst
  source/docs/software/vscode-overview/viewing-console-output.rst
  source/docs/software/vscode-overview/vscode-basics.rst
  source/docs/software/vscode-overview/wpilib-commands-vscode.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/starting-robotbuilder.rst
  source/docs/software/wpilib-tools/smartdashboard/verifying-smartdashboard-is-working.rst
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-cpp-java.rst
Labels: Type: Cleanup

#979 Update default sim extension command description
  source/docs/software/vscode-overview/wpilib-commands-vscode.rst
Labels: Type: Cleanup

#975 Update "New for 2021" article
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Minor Addition

#982 Separate the LabVIEW Dashboard out of the DriverStation Section
  source/docs/software/driverstation/driver-station.rst
  source/docs/software/driverstation/index.rst
  source/docs/software/labview-dashboard/driver-station-labview-dashboard.rst
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/autonomous-selection-box-and-connection-indicator.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/basic.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/camera-image-and-controls.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/camera.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/checklist.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/commands.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/custom.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/drive.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/labview-dashboard.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/playback.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/record-playback.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/recording.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/test.png
  source/docs/software/labview-dashboard/images/driver-station-labview-dashboard/variables.png
  source/docs/software/labview-dashboard/images/troubleshooting-dashboard-connectivity/black-diamonds.png
  source/docs/software/labview-dashboard/images/troubleshooting-dashboard-connectivity/connection-indicator.png
  source/docs/software/labview-dashboard/images/using-the-labview-dashboard-with-c++-java-code/basic-tab.png
  source/docs/software/labview-dashboard/images/using-the-labview-dashboard-with-c++-java-code/buttons-and-leds.png
  source/docs/software/labview-dashboard/images/using-the-labview-dashboard-with-c++-java-code/drive-tab.png
  source/docs/software/labview-dashboard/images/using-the-labview-dashboard-with-c++-java-code/sliders.png
  source/docs/software/labview-dashboard/images/using-the-labview-dashboard-with-c++-java-code/strings.png
  source/docs/software/labview-dashboard/index.rst
  source/docs/software/labview-dashboard/troubleshooting-dashboard-connectivity.rst
  source/docs/software/labview-dashboard/using-the-labview-dashboard-with-c++-java-code.rst
  source/docs/zero-to-robot/step-2/control-system-software.rst
  source/index.rst
  source/redirects.txt
Labels: Type: Structure

#971 Add OutlineViewer Details Page
  source/docs/software/vscode-overview/3rd-party-libraries.rst
  source/docs/software/vscode-overview/debugging-robot-program.rst
  source/docs/software/wpilib-tools/outlineviewer/images/outline-viewer.png
  source/docs/software/wpilib-tools/outlineviewer/images/outlineviewer.png
  source/docs/software/wpilib-tools/outlineviewer/index.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/starting-robotbuilder.rst
  source/docs/software/wpilib-tools/smartdashboard/verifying-smartdashboard-is-working.rst
  source/index.rst
Labels: Type: New Article

#994 Fix OutlineViewer dashboard label
  source/docs/software/wpilib-tools/outlineviewer/index.rst
Labels: bug

#995 Rename Overview Sections
  source/conf.py
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/controls-overviews/control-system-software.rst
  source/docs/controls-overviews/images/control-system-hardware/axis-camera.png
  source/docs/controls-overviews/images/control-system-hardware/circuit-breaker.png
  source/docs/controls-overviews/images/control-system-hardware/dmc-60c-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/jaguar-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/microsoft-lifecam.png
  source/docs/controls-overviews/images/control-system-hardware/openmesh-radio.png
  source/docs/controls-overviews/images/control-system-hardware/pneumatics-control-module.png
  source/docs/controls-overviews/images/control-system-hardware/power-distribution-panel.png
  source/docs/controls-overviews/images/control-system-hardware/roborio.png
  source/docs/controls-overviews/images/control-system-hardware/robot-battery.png
  source/docs/controls-overviews/images/control-system-hardware/sd540b-pwm.png
  source/docs/controls-overviews/images/control-system-hardware/servo-power-module.png
  source/docs/controls-overviews/images/control-system-hardware/snap-action-circuit-breaker.png
  source/docs/controls-overviews/images/control-system-hardware/spark-max-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/spark-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/spike-relay.png
  source/docs/controls-overviews/images/control-system-hardware/talon-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/talonsrx-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/victor-888-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/victor-sp-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/victor-spx-motor-controller.png
  source/docs/controls-overviews/images/control-system-hardware/voltage-regulator-module.png
  source/docs/controls-overviews/images/control-system-software/axis-camera-setup.png
  source/docs/controls-overviews/images/control-system-software/frc-driver-station.png
  source/docs/controls-overviews/images/control-system-software/frc-labview-dashboard.png
  source/docs/controls-overviews/images/control-system-software/frc-log-viewer.png
  source/docs/controls-overviews/images/control-system-software/frc-radio-configuration-utility.png
  source/docs/controls-overviews/images/control-system-software/labview-frc.png
  source/docs/controls-overviews/images/control-system-software/livewindow-smartdashboard.png
  source/docs/controls-overviews/images/control-system-software/outline-viewer.png
  source/docs/controls-overviews/images/control-system-software/robot-builder.png
  source/docs/controls-overviews/images/control-system-software/robot-simulator.png
  source/docs/controls-overviews/images/control-system-software/shuffleboard.png
  source/docs/controls-overviews/images/control-system-software/smartdashboard.png
  source/docs/controls-overviews/images/control-system-software/visual-studio-code.png
  source/docs/controls-overviews/images/frc-control-system-layout.svg
  source/docs/hardware/hardware-basics/index.rst
  source/docs/hardware/sensors/serial-buses.rst
  source/docs/zero-to-robot/step-1/how-to-wire-a-robot.rst
  source/docs/zero-to-robot/step-1/index.rst
  source/docs/zero-to-robot/step-2/index.rst
  source/index.rst
  source/redirects.txt
Labels: Type: Structure

#987 Driver Station undocumented feature - override robot IP address
  source/docs/software/driverstation/driver-station.rst
Labels: Minor Addition

#906 Refactor and Cleanup 3rd-Party-Devices
  source/docs/software/vscode-overview/3rd-party-libraries.rst
Labels: Type: Cleanup

#991 Add tutorial for differential drivetrain sim
  source/docs/software/examples-tutorials/drivesim-tutorial/diffdrive-sim-overview.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/drivetrain-model.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/images/simgui.png
  source/docs/software/examples-tutorials/drivesim-tutorial/index.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/odometry-simgui.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/simulation-instance.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/updating-drivetrain-model.rst
  source/index.rst
Labels: Type: New Article

#959 Link to local api docs in installer included docs
  source/_static/js/api-docs-redirect.js
  source/conf.py
Labels: Type: Configuration, Type: Structure

#997 Update FRCVision references to WPILibPi
  source/conf.py
  source/docs/networking/networking-utilities/portforwarding.rst
  source/docs/software/examples-tutorials/machine-learning/images/wpilibpi-upload-model.png
  source/docs/software/examples-tutorials/machine-learning/images/wpilibpi-upload-py.png
  source/docs/software/examples-tutorials/machine-learning/images/wpilibpi-writeable.png
  source/docs/software/examples-tutorials/machine-learning/inference.rst
  source/docs/software/vision-processing/index.rst
  source/docs/software/vision-processing/introduction/strategies-for-vision-programming.rst
  source/docs/software/vision-processing/introduction/what-is-vision.rst
  source/docs/software/vision-processing/wpilibpi/basic-vision-example.rst
  source/docs/software/vision-processing/wpilibpi/diagrams/vision-code-on-a-coprocessor.drawio.svg
  source/docs/software/vision-processing/wpilibpi/image-thresholding.rst
  source/docs/software/vision-processing/wpilibpi/images/image-thresholding-1.png
  source/docs/software/vision-processing/wpilibpi/images/image-thresholding-2.jpg
  source/docs/software/vision-processing/wpilibpi/images/image-thresholding-3.jpg
  source/docs/software/vision-processing/wpilibpi/images/installing-the-image-to-your-microsd-card/copy-the-image-to-your-microsd-card.png
  source/docs/software/vision-processing/wpilibpi/images/installing-the-image-to-your-microsd-card/flash-etcher.png
  source/docs/software/vision-processing/wpilibpi/images/installing-the-image-to-your-microsd-card/getting-the-frc-raspberry-pi-image.png
  source/docs/software/vision-processing/wpilibpi/images/intro-1.png
  source/docs/software/vision-processing/wpilibpi/images/intro-2.jpg
  source/docs/software/vision-processing/wpilibpi/images/morphological-operations-1.jpg
  source/docs/software/vision-processing/wpilibpi/images/morphological-operations-2.jpg
  source/docs/software/vision-processing/wpilibpi/images/morphological-operations-3.jpg
  source/docs/software/vision-processing/wpilibpi/images/morphological-operations-4.jpg
  source/docs/software/vision-processing/wpilibpi/images/morphological-operations-5.jpg
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/application-1.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/application-2.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/application-3.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/network-settings.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/system-status.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/the-raspberry-pi-frc-console.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/vision-settings-1.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/vision-settings-2.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/vision-settings-3.png
  source/docs/software/vision-processing/wpilibpi/images/the-raspberry-pi-frc-console/vision-status.png
  source/docs/software/vision-processing/wpilibpi/images/using-a-coprocessor-for-vision-processing/strategy.png
  source/docs/software/vision-processing/wpilibpi/images/using-cameraserver-1.jpg
  source/docs/software/vision-processing/wpilibpi/images/using-cameraserver-2.jpg
  source/docs/software/vision-processing/wpilibpi/images/using-the-raspberry-pi-for-frc/raspberry-pi.png
  source/docs/software/vision-processing/wpilibpi/images/what-you-need-to-get-the-pi-image-running/usb-dongle.png
  source/docs/software/vision-processing/wpilibpi/images/working-with-contours-1.jpg
  source/docs/software/vision-processing/wpilibpi/index.rst
  source/docs/software/vision-processing/wpilibpi/installing-the-image-to-your-microsd-card.rst
  source/docs/software/vision-processing/wpilibpi/morphological-operations.rst
  source/docs/software/vision-processing/wpilibpi/the-raspberry-pi-frc-console.rst
  source/docs/software/vision-processing/wpilibpi/using-a-coprocessor-for-vision-processing.rst
  source/docs/software/vision-processing/wpilibpi/using-cameraserver.rst
  source/docs/software/vision-processing/wpilibpi/using-the-raspberry-pi-for-frc.rst
  source/docs/software/vision-processing/wpilibpi/walkthrough-video.rst
  source/docs/software/vision-processing/wpilibpi/what-you-need-to-get-the-pi-image-running.rst
  source/docs/software/vision-processing/wpilibpi/working-with-contours.rst
  source/redirects.txt
Labels: Type: Cleanup

#1000 Romi docs
  source/conf.py
  source/docs/romi-robot/hardware.rst
  source/docs/romi-robot/images/hardware/assembly-batteries.png
  source/docs/romi-robot/images/hardware/assembly-caster-front.png
  source/docs/romi-robot/images/hardware/assembly-caster-rear.png
  source/docs/romi-robot/images/hardware/assembly-caster-suspension.jpg
  source/docs/romi-robot/images/hardware/assembly-motor-clips.png
  source/docs/romi-robot/images/hardware/assembly-motors.png
  source/docs/romi-robot/images/hardware/assembly-pi.jpg
  source/docs/romi-robot/images/hardware/assembly-wheels.png
  source/docs/romi-robot/images/imaging-romi/firmware-upload-after.png
  source/docs/romi-robot/images/imaging-romi/firmware-upload-before.png
  source/docs/romi-robot/images/imaging-romi/network-settings.png
  source/docs/romi-robot/images/imaging-romi/romi-download.png
  source/docs/romi-robot/images/romi.png
  source/docs/romi-robot/imaging-romi.rst
  source/docs/romi-robot/index.rst
  source/index.rst
Labels: Type: New Article

#1013 Add documentation for Glass
  source/docs/software/wpilib-tools/glass/field2d-widget.rst
  source/docs/software/wpilib-tools/glass/images/drag-plot.png
  source/docs/software/wpilib-tools/glass/images/field2d-options.png
  source/docs/software/wpilib-tools/glass/images/fms-info.png
  source/docs/software/wpilib-tools/glass/images/glass-connected.png
  source/docs/software/wpilib-tools/glass/images/glass-dark-mode.png
  source/docs/software/wpilib-tools/glass/images/glass-disconnected.png
  source/docs/software/wpilib-tools/glass/images/livewindow.png
  source/docs/software/wpilib-tools/glass/images/locked-axis.png
  source/docs/software/wpilib-tools/glass/images/nt-widget.png
  source/docs/software/wpilib-tools/glass/images/plot-options.png
  source/docs/software/wpilib-tools/glass/images/second-axis.png
  source/docs/software/wpilib-tools/glass/images/select-field2d.png
  source/docs/software/wpilib-tools/glass/images/sendable-chooser.png
  source/docs/software/wpilib-tools/glass/images/vs-code-glass-launch.png
  source/docs/software/wpilib-tools/glass/index.rst
  source/docs/software/wpilib-tools/glass/introduction.rst
  source/docs/software/wpilib-tools/glass/networktables-connection.rst
  source/docs/software/wpilib-tools/glass/plots.rst
  source/docs/software/wpilib-tools/glass/widgets.rst
  source/docs/yearly-overview/yearly-changelog.rst
  source/index.rst
Labels: Type: New Article

#1009 Fix Speed Controller vs Motor Controller sitewide
  source/docs/hardware/hardware-basics/status-lights-ref.rst
  source/docs/software/actuators/index.rst
  source/docs/software/actuators/overview.rst
  source/docs/software/actuators/pwm-controllers.rst
  source/docs/software/actuators/using-motor-controllers.rst
  source/docs/software/actuators/wpi-drive-classes.rst
  source/docs/software/advanced-controls/state-space/state-space-intro.rst
  source/docs/software/advanced-controls/trajectories/ramsete.rst
  source/docs/software/can-devices/using-can-devices.rst
  source/docs/software/roborio-info/roborio-brownouts.rst
  source/docs/software/wpilib-tools/robot-characterization/analyzing-feedback.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-custom-components.rst
  source/docs/software/wpilib-tools/robotbuilder/advanced/robotbuilder-pidsubsystem-actuators.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-creating-subsystem.rst
  source/docs/software/wpilib-tools/robotbuilder/introduction/robotbuilder-overview.rst
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-writing-subsystem-code.rst
  source/docs/software/wpilib-tools/shuffleboard/advanced-usage/shuffleboard-tuning-pid.rst
  source/docs/software/wpilib-tools/shuffleboard/layouts-with-code/sending-data.rst
  source/docs/zero-to-robot/step-1/how-to-wire-a-robot.rst
  source/redirects.txt
Labels: Type: Cleanup

#1016 Robot Characterization: Track Width
  source/docs/software/wpilib-tools/robot-characterization/characterization-routine.rst
Labels: Minor Addition

#985 Moved Limit Switch Programming and Cleaned it Up
  source/docs/hardware/sensors/proximity-switches.rst
  source/docs/software/old-commandbased/commands/images/using-limit-switches/image1.png
  source/docs/software/old-commandbased/commands/index.rst
  source/docs/software/old-commandbased/commands/limit-switches-control-behavior.rst
  source/docs/software/sensors/index.rst
  source/docs/software/sensors/limit-switch.rst
  source/redirects.txt
Labels: Type: Cleanup, Type: Structure

#978 Restructure the Software Component Overview
  source/docs/controls-overviews/control-system-software.rst
  source/docs/controls-overviews/images/control-system-software/pathweaver.png
  source/docs/controls-overviews/images/control-system-software/robot-characterization.png
  source/docs/controls-overviews/images/control-system-software/sim-gui.png
Labels: Type: Cleanup

#1027 Add linting following styleguide
  .github/workflows/CI.yaml
  Makefile
  make.bat
  source/requirements.txt
Labels: Extension

#998 Using LabVIEW Dashboard with C++/Java code needs updates
  source/docs/software/labview-dashboard/using-the-labview-dashboard-with-c++-java-code.rst
Labels: Type: Cleanup

#855 Add publishing CI
  .github/workflows/publish_stable.yml
Labels: Type: Configuration, hacktoberfest-accepted

#1031 Update FRC-Char generation docs
  source/docs/software/wpilib-tools/robot-characterization/analyzing-data.rst
  source/docs/software/wpilib-tools/robot-characterization/analyzing-feedback.rst
  source/docs/software/wpilib-tools/robot-characterization/characterization-routine.rst
  source/docs/software/wpilib-tools/robot-characterization/deploying-project.rst
  source/docs/software/wpilib-tools/robot-characterization/generating-project.rst
  source/docs/software/wpilib-tools/robot-characterization/images/accelwindow.png
  source/docs/software/wpilib-tools/robot-characterization/images/config-editor.png
  source/docs/software/wpilib-tools/robot-characterization/images/connecting-to-robot.png
  source/docs/software/wpilib-tools/robot-characterization/images/data-logger-gui.png
  source/docs/software/wpilib-tools/robot-characterization/images/deploying-project.png
  source/docs/software/wpilib-tools/robot-characterization/images/generate-project.png
  source/docs/software/wpilib-tools/robot-characterization/images/loading-config-file.png
  source/docs/software/wpilib-tools/robot-characterization/images/motionthresholdselector.png
  source/docs/software/wpilib-tools/robot-characterization/images/plotbuttons.png
  source/docs/software/wpilib-tools/robot-characterization/images/saving-config-file.png
  source/docs/software/wpilib-tools/robot-characterization/images/select-units.png
  source/docs/software/wpilib-tools/robot-characterization/images/selecting-control-type.png
  source/docs/software/wpilib-tools/robot-characterization/images/selecting-project-location.png
  source/docs/software/wpilib-tools/robot-characterization/images/units-per-rotation.png
  source/docs/software/wpilib-tools/robot-characterization/images/units-per-rotations.png
  source/docs/software/wpilib-tools/robot-characterization/viewing-diagnostics.rst
Labels: Type: Cleanup
