Repository wpilibsuite/frc-docs, pull requests merged in 2020-11, with the labels that each got.

#914 Add docs on scheduling functions in new convenience features section
  source/docs/software/convenience-features/index.rst
  source/docs/software/convenience-features/scheduling-functions.rst
  source/index.rst
Labels: Type: New Article

#916 Update miktex-packages.txt
  miktex-packages.txt
Labels: Type: Configuration, bug

#900 Add New for 2021 Information
  source/docs/2020-overview/known-issues.rst
  source/docs/2020-overview/new-for-2020.rst
  source/docs/beta/tasks/task-4-new-features.rst
  source/docs/software/commandbased/binding-commands-to-triggers.rst
  source/docs/software/wpilib-tools/robot-simulation/introduction.rst
  source/docs/yearly-overview/2020-Game-Data.rst
  source/docs/yearly-overview/images/2020-Game-Data/ds-game-data.png
  source/docs/yearly-overview/images/2020-Game-Data/labview-game-data-code.png
  source/docs/yearly-overview/images/known-issues/DS-chinese.jpg
  source/docs/yearly-overview/index.rst
  source/docs/yearly-overview/known-issues.rst
  source/docs/yearly-overview/yearly-changelog.rst
  source/index.rst
  source/redirects.txt
Labels: Type: New Article, Waiting On: WPILib

#920 Clarify pre-existing VS Code docs
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Type: Cleanup

#904 Add Next Steps Article
  source/docs/zero-to-robot/step-2/index.rst
  source/docs/zero-to-robot/step-2/step-2-next-steps.rst
Labels: Type: New Article

#930 Clarify xbox button
  source/docs/software/wpilib-tools/robot-simulation/simulation-gui.rst
Labels: Type: Cleanup

#925 Update VS Code WPILib commands for 2021
  source/docs/software/vscode-overview/wpilib-commands-vscode.rst
Labels: Type: Cleanup

#937 Add odometry reset docs and new PathWeaver coordinate info
  source/docs/software/examples-tutorials/trajectory-tutorial/creating-following-trajectory.rst
  source/docs/software/wpilib-tools/pathweaver/integrating-robot-program.rst
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Minor Addition, Type: Cleanup

#948 Clarify "Change Select Default Simulate Extension Setting"
  source/docs/software/vscode-overview/wpilib-commands-vscode.rst
Labels: Type: Cleanup

#947 Update Labview and Game Tools installation for 2021
  source/docs/zero-to-robot/step-2/frc-game-tools.rst
  source/docs/zero-to-robot/step-2/images/labview/labview_welcome.png
  source/docs/zero-to-robot/step-2/images/update-suite/additional-software.png
  source/docs/zero-to-robot/step-2/images/update-suite/detail-progress.png
  source/docs/zero-to-robot/step-2/images/update-suite/install-complete-reboot.png
  source/docs/zero-to-robot/step-2/images/update-suite/labview_fast_startup.png
  source/docs/zero-to-robot/step-2/images/update-suite/labview_package_manager_review.png
  source/docs/zero-to-robot/step-2/images/update-suite/license-agreements.png
  source/docs/zero-to-robot/step-2/images/update-suite/ni-package-install.png
  source/docs/zero-to-robot/step-2/images/update-suite/ni-package-license.png
  source/docs/zero-to-robot/step-2/images/update-suite/review-summary.png
  source/docs/zero-to-robot/step-2/labview-setup.rst
Labels: Type: Cleanup

#950 Clarify curvature drive comments, fix Java code example
  source/docs/software/actuators/wpi-drive-classes.rst
Labels: Type: Cleanup

#957 Update vendordep task local mode docs
  source/docs/software/vscode-overview/3rd-party-libraries.rst
Labels: Waiting On: WPILib
