Repository wpilibsuite/frc-docs, pull requests merged in 2021-06, with the labels that each got.

#1358 Update Shuffleboard Gradle Example
  source/docs/software/dashboards/shuffleboard/custom-widgets/creating-plugins.rst
Labels: Component: Dashboard, Examples

#1371 Add motor inversion information
  source/docs/software/hardware-apis/motors/wpi-drive-classes.rst
Labels: Component: WPILibJ/WPILibC, Examples, Type: Cleanup

#1373 Update OutlineViewer to showcase updated version
  source/docs/controls-overviews/images/control-system-software/outline-viewer.png
  source/docs/software/wpilib-tools/outlineviewer/images/outlineviewer.png
  source/docs/software/wpilib-tools/outlineviewer/index.rst
Labels: Type: Cleanup

#1372 Update with easier method of disabling RamseteController
  source/docs/software/advanced-controls/trajectories/troubleshooting.rst
Labels: Examples, Type: Cleanup

#1370 Replace game specific information
  source/docs/networking/networking-introduction/measuring-bandwidth-usage.rst
  source/docs/networking/networking-introduction/networking-basics.rst
Labels: Type: Cleanup

#1377 Set base url to root domain
  source/conf.py
Labels: Type: Configuration

#1376 Ensure redirects.txt can only be appended to
  .github/workflows/CI.yml
Labels: Type: Configuration

#1363 SetTrajectory and Field2d options docs
  source/docs/software/advanced-controls/trajectories/troubleshooting.rst
  source/docs/software/dashboards/glass/field2d-widget.rst
  source/docs/software/dashboards/glass/images/changing-style-line.png
  source/docs/software/dashboards/glass/images/line-options.png
  source/docs/software/dashboards/glass/images/sent-trajectory.png
  source/docs/software/dashboards/glass/images/unchecked-arrow-trajectory.png
Labels: Component: WPILibJ/WPILibC

#1381 Add OutlineViewer link
  source/docs/controls-overviews/control-system-software.rst
Labels: Type: Cleanup

#1382 Add additional romi sim information
  source/docs/romi-robot/images/programming-romi/romi-vscode-launch-sim.png
  source/docs/romi-robot/programming-romi.rst
Labels: Component: Romi

#1378 Axon - Add OpenImages Create details
  source/docs/software/wpilib-tools/axon/create-a-dataset-with-open-images.rst
  source/docs/software/wpilib-tools/axon/images/open-images/add-remove.png
  source/docs/software/wpilib-tools/axon/images/open-images/class-name.png
  source/docs/software/wpilib-tools/axon/images/open-images/completed.png
  source/docs/software/wpilib-tools/axon/images/open-images/create-button.png
  source/docs/software/wpilib-tools/axon/images/open-images/number.png
  source/docs/software/wpilib-tools/axon/images/open-images/website.png
  source/docs/software/wpilib-tools/axon/index.rst
  source/docs/software/wpilib-tools/axon/introduction.rst
Labels: Type: Cleanup

#1374 Add information on supported Gradle tasks
  source/docs/software/advanced-gradlerio/gradlew-tasks.rst
  source/docs/software/advanced-gradlerio/index.rst
Labels: Type: New Article
