Repository wpilibsuite/frc-docs, pull requests merged in 2021-11, with the labels that each got.

#1527 Add java locale page to linkcheck ignore
  source/conf.py
Labels: bug

#1531 Update LabVIEW benchtop instructions
  source/docs/software/labview/creating-robot-programs/command-and-control-tutorial.rst
  source/docs/software/labview/creating-robot-programs/creating-building-and-loading-your-benchtop-test-program.rst
  source/docs/software/labview/creating-robot-programs/images/creating-building-and-loading-your-benchtop-test-program/configuring-project.png
  source/docs/software/labview/creating-robot-programs/images/creating-building-and-loading-your-benchtop-test-program/creating-a-project.png
  source/docs/software/labview/creating-robot-programs/images/creating-building-and-loading-your-benchtop-test-program/deploying-the-program.png
  source/docs/software/labview/creating-robot-programs/images/creating-building-and-loading-your-benchtop-test-program/ni-logo.png
  source/docs/software/labview/creating-robot-programs/images/creating-building-and-loading-your-benchtop-test-program/running-the-program.png
  source/docs/software/labview/creating-robot-programs/index.rst
  source/docs/software/labview/creating-robot-programs/tank-drive-tutorial.rst
  source/docs/software/labview/resources/add-an-independent-motor-to-a-project.rst
  source/docs/software/labview/resources/adding-safety-features-to-your-robot-code.rst
  source/docs/software/labview/resources/how-to-toggle-between-two-camera-modes.rst
  source/docs/software/labview/resources/how-to-use-joystick-buttons-to-control-motors-or-solenoids.rst
  source/docs/software/labview/resources/keyboard-navigation-with-the-roborio.rst
  source/docs/software/labview/resources/labview-examples-and-tutorials.rst
  source/docs/software/labview/resources/labview-resources.rst
  source/docs/software/labview/resources/local-and-global-variables-in-labview-for-frc.rst
  source/docs/software/labview/resources/making-a-one-shot-button-press.rst
  source/docs/software/labview/resources/using-the-compressor-in-labview.rst
  source/docs/software/labview/resources/waiting-for-target-to-respond.rst
  source/docs/zero-to-robot/step-2/labview-setup.rst
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-labview.rst
  source/docs/zero-to-robot/step-4/images/creating-benchtop-test-labview/configuring-project.png
  source/docs/zero-to-robot/step-4/images/creating-benchtop-test-labview/creating-a-project.png
  source/docs/zero-to-robot/step-4/images/creating-benchtop-test-labview/deploying-the-program.png
  source/docs/zero-to-robot/step-4/images/creating-benchtop-test-labview/labview-benchtop-run-live.png
  source/docs/zero-to-robot/step-4/images/creating-benchtop-test-labview/running-the-program.png
  source/redirects.txt
Labels: Type: Cleanup

#1530 Clarify some language in New for 2022
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Addition

#1528 Add unofficial resources
  source/docs/software/support/support-resources.rst
Labels: Addition
