Repository wpilibsuite/frc-docs, pull requests merged in 2021-12, with the labels that each got.

#1534 Add new features from beta 3
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Addition

#1533 Documentation for including Git data in deploy
  source/docs/software/advanced-gradlerio/deploy-git-data.rst
  source/docs/software/advanced-gradlerio/index.rst
Labels: Type: New Article

#1519 Third Party Examples
  source/docs/software/examples-tutorials/third-party-examples.rst
  source/index.rst
Labels: Type: New Article

#1545 Update note for Simulation CLI now supports C++
  source/docs/software/wpilib-tools/robot-simulation/introduction.rst
Labels: Component: Simulation, Addition

#1324 Document Joystick HID classes.
  source/docs/software/basic-programming/images/joystick/dpadangles.png
  source/docs/software/basic-programming/images/joystick/joystick.png
  source/docs/software/basic-programming/images/joystick/lights.jpg
  source/docs/software/basic-programming/images/joystick/ps4.jpg
  source/docs/software/basic-programming/images/joystick/xbox.jpg
  source/docs/software/basic-programming/index.rst
  source/docs/software/basic-programming/joystick.rst
Labels: Type: New Article

#1554 Remove outdated historical references
  source/docs/software/labview/resources/index.rst
  source/docs/software/labview/resources/talon-srx-can.rst
  source/docs/software/roborio-info/roborio-web-dashboard.rst
  source/docs/software/vision-processing/axis-camera/camera-settings.rst
  source/docs/software/vscode-overview/vscode-basics.rst
  source/redirects.txt
Labels: Type: Cleanup

#1559 Collapsed Dropdown to a long list.
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Type: Cleanup

#1548 Add new REV components
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/controls-overviews/images/control-system-hardware/pneumatic-hub.png
  source/docs/controls-overviews/images/control-system-hardware/power-distribution-hub.png
  source/docs/controls-overviews/images/control-system-hardware/radio-power-module.png
  source/docs/hardware/sensors/serial-buses.rst
Labels: Addition

#1572 Correct right motor inversion statement
  source/docs/romi-robot/getting-to-know-romi.rst
Labels: Waiting On: WPILib

#1569 Cleanup Romi Programming Article
  source/docs/romi-robot/programming-romi.rst
Labels: Addition

#1580 Fix typo of canceled
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Type: Cleanup

#1566 Getting to Know Romi documentation
  source/docs/romi-robot/getting-to-know-romi.rst
  source/docs/romi-robot/hardware-support.rst
  source/docs/romi-robot/images/getting-to-know-romi/romi-leds-buttons.jpg
Labels: Addition

#1529 Add notice on swerve support
  source/docs/software/pathplanning/index.rst
  source/docs/software/wpilib-tools/robot-simulation/physics-sim.rst
Labels: Addition

#1561 Add docs about universal CAN heartbeat
  source/docs/software/can-devices/can-addressing.rst
Labels: Addition

#1584 Fix publish workflow
  .github/workflows/publish_stable.yml
Labels: Type: Configuration

#1586 Update unsupported OSes
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Addition

#1583 Update debouncer docs
  source/docs/software/advanced-controls/filters/debouncer.rst
  source/docs/software/commandbased/binding-commands-to-triggers.rst
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Waiting On: WPILib, Examples
