Repository wpilibsuite/frc-docs, pull requests merged in 2021-01, with the labels that each got.

#1025 Added the Romi Example to the Examples Page
  source/docs/software/examples-tutorials/wpilib-examples.rst
Labels: Examples

#1017 Update romi imaging language
  source/docs/romi-robot/imaging-romi.rst
Labels: Type: Cleanup

#1010 Note to the Post Install Section about the Tools Shortcuts Folder
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Minor Addition

#1020 Added Note About Video Settings
  source/docs/software/vision-processing/wpilibpi/the-raspberry-pi-frc-console.rst
Labels: Waiting On: WPILib

#1092 Fix compilation error in FunctionalCommand example
  source/docs/software/commandbased/convenience-features.rst
Labels: bug

#1091 Fix namespaces and header issues in sim tutorial
  source/docs/software/examples-tutorials/drivesim-tutorial/drivetrain-model.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/simulation-instance.rst
  source/docs/software/examples-tutorials/drivesim-tutorial/updating-drivetrain-model.rst
Labels: bug

#1081 Run black on Python scripts and add black to CI
  .github/workflows/CI.yml
  scripts/imagesizechecker.py
  source/conf.py
  source/docs/software/advanced-controls/state-space/graph.py
  source/docs/software/advanced-controls/state-space/latency.py
  source/docs/software/advanced-controls/state-space/linearization.py
Labels: Type: Cleanup, Type: Configuration

#1096 Add danger notice at the top of ML docs
  source/docs/software/examples-tutorials/machine-learning/adding-more-data.rst
  source/docs/software/examples-tutorials/machine-learning/how-it-works.rst
  source/docs/software/examples-tutorials/machine-learning/index.rst
  source/docs/software/examples-tutorials/machine-learning/inference.rst
  source/docs/software/examples-tutorials/machine-learning/setting-up-the-data.rst
  source/docs/software/examples-tutorials/machine-learning/testing.rst
  source/docs/software/examples-tutorials/machine-learning/training.rst
  source/docs/software/examples-tutorials/machine-learning/understanding-precision.rst
  source/docs/software/examples-tutorials/machine-learning/uploading-data-to-aws-s3.rst
  source/docs/software/examples-tutorials/machine-learning/using-inference-output.rst
  source/docs/software/examples-tutorials/machine-learning/video-walkthrough.rst
Labels: Minor Addition

#1116 Formatting for set() and motor initialization is odd
  source/docs/software/actuators/using-motor-controllers.rst
Labels: Examples, Type: Cleanup

#1094 Add headers for fixed issues
  source/docs/yearly-overview/known-issues.rst
Labels: Minor Addition

#1123 Conflict in order of NI Tools & WPI Install
  source/docs/zero-to-robot/step-2/offline-installation-preparations.rst
Labels: Type: Cleanup

#1093 Add KoP Chassis simulation to sim tutorial
  source/docs/software/examples-tutorials/drivesim-tutorial/drivetrain-model.rst
Labels: Minor Addition

#1134 Add simpledifferentialdrivesimulation to the Examples list
  source/docs/software/examples-tutorials/wpilib-examples.rst
Labels: Examples

#1119 Add very specific .toggle() examples to solenoid control
  source/docs/software/actuators/pneumatics.rst
Labels: Examples

#1129 Refactor and Update Creating a Robot Program
  source/docs/software/vscode-overview/creating-robot-program.rst
Labels: Type: Cleanup

#1140 Add detail that two nuts for romi is attached in the battery compartment
  source/docs/romi-robot/hardware.rst
  source/docs/romi-robot/images/hardware/assembly-batteries.png
Labels: Component: Romi

#1143 Add shuffleboard to troubleshooting dashboard connectivity
  source/docs/software/labview-dashboard/images/troubleshooting-dashboard-connectivity/glass-connection.png
  source/docs/software/labview-dashboard/images/troubleshooting-dashboard-connectivity/shuffleboard-connection.png
  source/docs/software/labview-dashboard/troubleshooting-dashboard-connectivity.rst
Labels: Component: Dashboard

#1018 Add template lag to troubleshooting
  source/docs/software/wpilib-tools/robot-characterization/characterization-routine.rst
  source/docs/software/wpilib-tools/robot-characterization/viewing-diagnostics.rst
Labels: Component: Pathfollowing

#1144 Add relay description to actuator overview
  source/docs/software/actuators/overview.rst
Labels: Component: Hardware

#1163 Remove note about scaling on Retina displays
  source/docs/software/wpilib-tools/glass/introduction.rst
Labels: Waiting On: WPILib

#1146 Add new article organization to style guide
  source/docs/contributing/frc-docs/contribution-guidelines.rst
Labels: Type: Structure

#1168 Update LabVIEW Learn Link
  source/docs/zero-to-robot/introduction.rst
Labels: bug

#1159 Update Dependencies
  source/docs/software/advanced-controls/state-space/state-space-debugging.rst
  source/requirements.txt
Labels: Extension, Type: Configuration
