Repository wpilibsuite/frc-docs, pull requests merged in 2021-03, with the labels that each got.

#1249 Remove Cloudforge from Git Getting Started
  source/docs/software/basic-programming/git-getting-started.rst
Labels: Type: Cleanup

#1248 Clarified alongWith, raceWith, and deadlineWith
  source/docs/software/commandbased/convenience-features.rst
Labels: Type: Cleanup

#1204 Merge Glass and Simulation TOCs
  source/docs/software/examples-tutorials/drivesim-tutorial/odometry-simgui.rst
  source/docs/software/wpilib-tools/glass/index.rst
  source/docs/software/wpilib-tools/robot-simulation/index.rst
  source/docs/software/wpilib-tools/robot-simulation/simulation-gui.rst
  source/docs/software/wpilib-tools/robot-simulation/video-walkthrough.rst
  source/redirects.txt
Labels: Type: Structure

#1253 Remove NI Phone Support
  source/docs/software/support/support-resources.rst
Labels: Type: Cleanup

#1257 Add NI FRC Forum Link
  source/docs/software/support/support-resources.rst
Labels: Type: Cleanup

#1250 Add Code Formatting Article
  source/docs/software/basic-programming/code-formatting.rst
  source/docs/software/basic-programming/index.rst
Labels: Type: New Article

#1261 Document Romi Bridge Mode
  source/docs/romi-robot/images/web-ui/romi-bridge-mode.png
  source/docs/romi-robot/images/web-ui/romi-enable-writable.png
  source/docs/romi-robot/images/web-ui/romi-network-settings.png
  source/docs/romi-robot/web-ui.rst
Labels: Component: Romi

#1122 Invert GetY() of controllers where necessary as "up" is -Y not +Y
  source/docs/software/actuators/wpi-drive-classes.rst
  source/docs/software/commandbased/convenience-features.rst
Labels: Waiting On: WPILib

#1218 Add external libraries article
  source/docs/software/advanced-gradlerio/external-libraries.rst
  source/docs/software/advanced-gradlerio/index.rst
  source/index.rst
Labels: Type: New Article

#1266 Update RMPrepUSB link
  source/docs/software/driverstation/imaging-your-classmate.rst
Labels: Type: Cleanup

#1265 Move Code Formatting and CI Articles to GradleRIO section
  source/docs/software/advanced-gradlerio/code-formatting.rst
  source/docs/software/advanced-gradlerio/images/robot-ci/actions.png
  source/docs/software/advanced-gradlerio/images/robot-ci/badge.png
  source/docs/software/advanced-gradlerio/images/robot-ci/commit-new-file.png
  source/docs/software/advanced-gradlerio/images/robot-ci/repository.png
  source/docs/software/advanced-gradlerio/images/robot-ci/setup.png
  source/docs/software/advanced-gradlerio/index.rst
  source/docs/software/advanced-gradlerio/robot-code-ci.rst
  source/docs/software/basic-programming/index.rst
  source/redirects.txt
Labels: Type: Structure

#1077 Add Device Simulation article
  source/docs/software/wpilib-tools/robot-simulation/device-sim.rst
  source/docs/software/wpilib-tools/robot-simulation/index.rst
Labels: Type: New Article

#1273 Recommend SI Units for frc-char analysis
  source/docs/software/wpilib-tools/robot-characterization/analyzing-data.rst
Labels: Type: Cleanup

#1278 Add homepage alert and known issues
  source/docs/yearly-overview/known-issues.rst
Labels: High Priority

#1271 Sort Turkish by Numerical per Request
  source/docs/contributing/frc-docs/top-translators.rst
Labels: Type: Cleanup

#1269 Document the Long time it takes for a .wpilib.json file to load
  source/docs/software/wpilib-tools/pathweaver/integrating-robot-program.rst
Labels: Examples, Type: Cleanup

#1281 Update WCP Link
  source/docs/hardware/sensors/proximity-switches.rst
Labels: Type: Cleanup
