Repository wpilibsuite/frc-docs, pull requests merged in 2021-04, with the labels that each got.

#1262 Add Battery Article
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/hardware/hardware-basics/images/robot-battery/battery-cart.jpg
  source/docs/hardware/hardware-basics/images/robot-battery/battery-flag.jpg
  source/docs/hardware/hardware-basics/images/robot-battery/battery-strap.png
  source/docs/hardware/hardware-basics/images/robot-battery/beak.png
  source/docs/hardware/hardware-basics/images/robot-battery/boiled.JPG
  source/docs/hardware/hardware-basics/images/robot-battery/boiled.jpg
  source/docs/hardware/hardware-basics/images/robot-battery/broken-terminal.png
  source/docs/hardware/hardware-basics/images/robot-battery/cba-graph.jpg
  source/docs/hardware/hardware-basics/images/robot-battery/edge-clip.png
  source/docs/hardware/hardware-basics/images/robot-battery/heatshrink.png
  source/docs/hardware/hardware-basics/images/robot-battery/loose-nordlock.jpg
  source/docs/hardware/hardware-basics/images/robot-battery/sb50-handle.png
  source/docs/hardware/hardware-basics/images/robot-battery/tab-contact.jpg
  source/docs/hardware/hardware-basics/index.rst
  source/docs/hardware/hardware-basics/preemptive-troubleshooting.rst
  source/docs/hardware/hardware-basics/robot-battery.rst
  source/docs/software/driverstation/driver-station-log-viewer.rst
  source/docs/software/roborio-info/roborio-brownouts.rst
Labels: Type: New Article

#1276 Add a common terminology glossary page
  source/docs/contributing/frc-docs/style-guide.rst
  source/docs/software/frc-glossary.rst
  source/index.rst
Labels: Type: New Article

#1005 Fix basic vision example
  source/docs/software/vision-processing/wpilibpi/basic-vision-example.rst
Labels: bug

#1252 Add Sphinx Panels dependency
  source/conf.py
  source/requirements.txt
Labels: Extension

#1295 Force docutils 0.16.0 due to incompatibility
  source/requirements.txt
Labels: bug

#1313 Master -> Main
  .github/workflows/CI.yml
  .github/workflows/base-branch.yml
  README.md
  source/conf.py
  source/docs/contributing/frc-docs/contribution-guidelines.rst
Labels: Type: Configuration, Type: Structure

#1277 Show pr changed files on rtd
  poetry.lock
  pyproject.toml
  source/conf.py
  source/requirements.txt
Labels: Extension

#1317 Allow manual publish to stable
  .github/workflows/publish_stable.yml
Labels: Type: Configuration

#1272 Add better example for slew rate limiter
  source/docs/software/advanced-controls/filters/slew-rate-limiter.rst
Labels: Examples

#1328 Remove unsupported Rotation2d div method
  source/docs/software/advanced-controls/geometry/transformations.rst
Labels: Component: WPILibJ/WPILibC, Examples

#1334 Remove old-commandbased
  source/docs/software/commandbased/command-based-changes.rst
  source/docs/software/old-commandbased/basics/adding-commands-subsystems.rst
  source/docs/software/old-commandbased/basics/convert-simple-auto-command-auto.rst
  source/docs/software/old-commandbased/basics/creating-the-project.rst
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/command-name.png
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/command-tree.png
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/creating-command.png
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/creating-subsystem.png
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/naming-subsystem.png
  source/docs/software/old-commandbased/basics/images/adding-commands-subsystems/project-tree.png
  source/docs/software/old-commandbased/basics/images/what-is-commandbased/clouds.png
  source/docs/software/old-commandbased/basics/images/what-is-commandbased/command-flow.png
  source/docs/software/old-commandbased/basics/images/what-is-commandbased/concurrency.png
  source/docs/software/old-commandbased/basics/images/what-is-commandbased/scheduling.png
  source/docs/software/old-commandbased/basics/index.rst
  source/docs/software/old-commandbased/basics/what-is-command-based.rst
  source/docs/software/old-commandbased/commands/creating-groups-commands.rst
  source/docs/software/old-commandbased/commands/creating-simple-commands.rst
  source/docs/software/old-commandbased/commands/default-commands.rst
  source/docs/software/old-commandbased/commands/images/commands-joystick-input/oiclass.png
  source/docs/software/old-commandbased/commands/images/scheduling-commands/anatomy.png
  source/docs/software/old-commandbased/commands/images/scheduling-commands/finish.png
  source/docs/software/old-commandbased/commands/images/scheduling-commands/life-cycle.png
  source/docs/software/old-commandbased/commands/images/scheduling-commands/requires.png
  source/docs/software/old-commandbased/commands/images/synchronizing-two-commands/flowchart.png
  source/docs/software/old-commandbased/commands/images/synchronizing-two-commands/waiting.png
  source/docs/software/old-commandbased/commands/index.rst
  source/docs/software/old-commandbased/commands/running-commands-autonomous.rst
  source/docs/software/old-commandbased/commands/running-commands-joystick-input.rst
  source/docs/software/old-commandbased/commands/scheduling-commands.rst
  source/docs/software/old-commandbased/commands/synchronizing-two-commands.rst
  source/docs/software/old-commandbased/index.rst
  source/docs/software/old-commandbased/subsystems/index.rst
  source/docs/software/old-commandbased/subsystems/pidsubsystems-pid-control.rst
  source/docs/software/old-commandbased/subsystems/simple-subsystems.rst
  source/docs/software/vscode-overview/3rd-party-libraries.rst
  source/docs/software/vscode-overview/creating-robot-program.rst
  source/index.rst
  source/redirects.txt
Labels: Component: WPILibJ/WPILibC, Type: Cleanup, Type: Structure

#1340 Fixes basic vision example errors
  source/docs/software/vision-processing/wpilibpi/basic-vision-example.rst
Labels: Examples

#1330 Recommend Chocolately rsvg-convert
  miktex-packages.txt
  scripts/install-rsvg-convert.ps1
  source/docs/contributing/frc-docs/build-instructions.rst
Labels: Type: Configuration

#1331 Fix C++ example inconsistencies
  source/docs/software/advanced-controls/controllers/trapezoidal-profiles.rst
  source/docs/software/advanced-controls/filters/slew-rate-limiter.rst
Labels: Component: WPILibJ/WPILibC, Examples

#1337 Add old-commandbased note
  source/docs/software/commandbased/index.rst
Labels: Type: Cleanup

#1343 Fixes syntax for C++ float double comparison
  source/docs/software/wpilib-tools/robot-simulation/unit-testing.rst
Labels: Component: WPILibJ/WPILibC, Examples
