Repository wpilibsuite/frc-docs, pull requests merged in 2021-05, with the labels that each got.

#1346 Update verbiage on hiding Shuffleboard tabs
  source/docs/software/wpilib-tools/shuffleboard/getting-started/images/shuffleboard-tab-deletion.png
  source/docs/software/wpilib-tools/shuffleboard/getting-started/shuffleboard-tabs.rst
Labels: Component: Dashboard, Type: Cleanup

#1336 Add stack-trace docs
  source/docs/software/basic-programming/images/reading-stacktraces/cpp_div_zero_stacktrace.png
  source/docs/software/basic-programming/images/reading-stacktraces/cpp_null_stacktrace.png
  source/docs/software/basic-programming/images/reading-stacktraces/cpp_vscode_dbg_tab.png
  source/docs/software/basic-programming/index.rst
  source/docs/software/basic-programming/reading-stacktraces.rst
Labels: Component: WPILibJ/WPILibC, Examples, Type: New Article

#1353 Update Homepage CSS and Logo
  source/_static/css/frc-rtd.css
  source/_templates/layout.html
  source/assets/wpilibDocsLogo.png
Labels: Type: Style/CSS

#1356 Fix Constraints Link
  source/docs/software/advanced-controls/trajectories/constraints.rst
Labels: bug

#1357 Add docs on trajectory concatenation
  source/docs/software/advanced-controls/trajectories/trajectory-generation.rst
Labels: Component: WPILibJ/WPILibC, Examples

#1350 Add doc for using Romi in LabVIEW
  source/docs/romi-robot/images/programming-romi-in-labview/adding-romi-gyro.png
  source/docs/romi-robot/images/programming-romi-in-labview/alternate-romi-ip.jpg
  source/docs/romi-robot/images/programming-romi-in-labview/installing-websockets.png
  source/docs/romi-robot/images/programming-romi-in-labview/romi-labview-target.jpg
  source/docs/romi-robot/index.rst
  source/docs/romi-robot/programming-romi-in-labview.rst
Labels: Type: New Article

#1361 Refactor Actuators into Hardware-APIs
  source/docs/contributing/frc-docs/style-guide.rst
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/hardware/sensors/accelerometers-hardware.rst
  source/docs/hardware/sensors/analog-inputs-hardware.rst
  source/docs/hardware/sensors/analog-potentiometers-hardware.rst
  source/docs/hardware/sensors/digital-inputs-hardware.rst
  source/docs/hardware/sensors/encoders-hardware.rst
  source/docs/hardware/sensors/gyros-hardware.rst
  source/docs/hardware/sensors/proximity-switches.rst
  source/docs/hardware/sensors/sensor-overview-hardware.rst
  source/docs/hardware/sensors/ultrasonics-hardware.rst
  source/docs/software/actuators/index.rst
  source/docs/software/advanced-controls/trajectories/trajectory-generation.rst
  source/docs/software/can-devices/pneumatics-control-module.rst
  source/docs/software/hardware-apis/index.rst
  source/docs/software/hardware-apis/misc/addressable-leds.rst
  source/docs/software/hardware-apis/misc/images/hsv-models.png
  source/docs/software/hardware-apis/misc/index.rst
  source/docs/software/hardware-apis/motors/images/am-14u4-6in-mecanum-upgrade.png
  source/docs/software/hardware-apis/motors/images/drive-axis.png
  source/docs/software/hardware-apis/motors/index.rst
  source/docs/software/hardware-apis/motors/pwm-controllers.rst
  source/docs/software/hardware-apis/motors/servos.rst
  source/docs/software/hardware-apis/motors/using-motor-controllers.rst
  source/docs/software/hardware-apis/motors/wpi-drive-classes.rst
  source/docs/software/hardware-apis/pneumatics/images/pneumatics-control-module.png
  source/docs/software/hardware-apis/pneumatics/index.rst
  source/docs/software/hardware-apis/pneumatics/pneumatics.rst
  source/docs/software/hardware-apis/sensors/accelerometers-software.rst
  source/docs/software/hardware-apis/sensors/analog-inputs-software.rst
  source/docs/software/hardware-apis/sensors/analog-potentiometers-software.rst
  source/docs/software/hardware-apis/sensors/counters.rst
  source/docs/software/hardware-apis/sensors/digital-inputs-software.rst
  source/docs/software/hardware-apis/sensors/encoders-software.rst
  source/docs/software/hardware-apis/sensors/gyros-software.rst
  source/docs/software/hardware-apis/sensors/images/analog-inputs-software/oversampling-averaging.png
  source/docs/software/hardware-apis/sensors/images/counters/counters.png
  source/docs/software/hardware-apis/sensors/images/encoders-software/encoder-modules.png
  source/docs/software/hardware-apis/sensors/images/encoders-software/encoding-direction.png
  source/docs/software/hardware-apis/sensors/index.rst
  source/docs/software/hardware-apis/sensors/limit-switch.rst
  source/docs/software/hardware-apis/sensors/sensor-overview-software.rst
  source/docs/software/hardware-apis/sensors/ultrasonics-software.rst
  source/index.rst
  source/redirects.txt
Labels: Type: Cleanup, Type: Structure

#1141 Move Sim Tutorial to Simulation Directory
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/diffdrive-sim-overview.rst
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/drivetrain-model.rst
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/images/simgui.png
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/index.rst
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/odometry-simgui.rst
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/simulation-instance.rst
  source/docs/software/wpilib-tools/robot-simulation/drivesim-tutorial/updating-drivetrain-model.rst
  source/docs/software/wpilib-tools/robot-simulation/index.rst
  source/index.rst
  source/redirects.txt
Labels: Component: Simulation, Type: Structure
