Repository wpilibsuite/frc-docs, pull requests merged in 2021-08, with the labels that each got.

#1395 Fix RTD menu on iOS
  source/_static/js/fix-rtd-menu-ios.js
  source/conf.py
Labels: Needs Design Decision

#1396 Updated Axon documentation to include the dataset viewer and the updated export menu for training
  source/docs/software/wpilib-tools/axon/images/dataset-viewer/navigate-dataset.png
  source/docs/software/wpilib-tools/axon/images/dataset-viewer/stats.png
  source/docs/software/wpilib-tools/axon/images/dataset/download.png
  source/docs/software/wpilib-tools/axon/images/dataset/import.png
  source/docs/software/wpilib-tools/axon/images/dataset/labeled_controller.png
  source/docs/software/wpilib-tools/axon/images/inferencing/hatchcover.png
  source/docs/software/wpilib-tools/axon/images/machine-learning/mnist-neural.png
  source/docs/software/wpilib-tools/axon/images/open-images/completed.png
  source/docs/software/wpilib-tools/axon/images/open-images/website.png
  source/docs/software/wpilib-tools/axon/images/training/add-dataset.png
  source/docs/software/wpilib-tools/axon/images/training/axon-mobilenet-1.png
  source/docs/software/wpilib-tools/axon/images/training/axon-mobilenet-2.png
  source/docs/software/wpilib-tools/axon/images/training/axon-mobilenet-7.png
  source/docs/software/wpilib-tools/axon/images/training/axon-mobilenet-8.png
  source/docs/software/wpilib-tools/axon/images/training/axon-mobilenet-9.png
  source/docs/software/wpilib-tools/axon/images/training/download-checkpoint.png
  source/docs/software/wpilib-tools/axon/images/training/export-button.png
  source/docs/software/wpilib-tools/axon/images/training/export-menu.png
  source/docs/software/wpilib-tools/axon/images/training/exporting.png
  source/docs/software/wpilib-tools/axon/images/training/hyperparameters.png
  source/docs/software/wpilib-tools/axon/images/training/new-project.png
  source/docs/software/wpilib-tools/axon/images/training/rename-checkpoint.png
  source/docs/software/wpilib-tools/axon/images/training/select-checkpoint.png
  source/docs/software/wpilib-tools/axon/images/training/test-checkpoint-button.png
  source/docs/software/wpilib-tools/axon/index.rst
  source/docs/software/wpilib-tools/axon/retraining-mobilenet.rst
  source/docs/software/wpilib-tools/axon/viewing-datasets.rst
Labels: Type: New Article

#1408 Add reference to TimedRobot Exit methods and fix typos
  source/docs/software/vscode-overview/creating-robot-program.rst
Labels: Type: Cleanup

#1411 Reworded description of setIntegratorRange()
  source/docs/software/advanced-controls/controllers/pidcontroller.rst
Labels: Type: Cleanup

#1410 Update RLIs for 2022
  source/docs/software/advanced-controls/controllers/profiled-pidcontroller.rst
  source/docs/software/advanced-controls/controllers/trapezoidal-profiles.rst
  source/docs/software/commandbased/command-groups.rst
  source/docs/software/commandbased/command-scheduler.rst
  source/docs/software/commandbased/commands.rst
  source/docs/software/commandbased/pid-subsystems-commands.rst
  source/docs/software/commandbased/profile-subsystems-commands.rst
  source/docs/software/commandbased/profilepid-subsystems-commands.rst
  source/docs/software/commandbased/structuring-command-based-project.rst
  source/docs/software/commandbased/subsystems.rst
  source/docs/software/dashboards/smartdashboard/choosing-an-autonomous-program-from-smartdashboard.rst
  source/docs/software/hardware-apis/motors/wpi-drive-classes.rst
  source/docs/software/pathplanning/trajectory-tutorial/creating-drive-subsystem.rst
  source/docs/software/pathplanning/trajectory-tutorial/creating-following-trajectory.rst
Labels: Type: Cleanup, Examples

#1280 Add documentation for sysid
  source/docs/software/pathplanning/robot-characterization/additional-utils.rst
  source/docs/software/pathplanning/robot-characterization/analyzing-data.rst
  source/docs/software/pathplanning/robot-characterization/analyzing-feedback.rst
  source/docs/software/pathplanning/robot-characterization/characterization-routine.rst
  source/docs/software/pathplanning/robot-characterization/configuring-project.rst
  source/docs/software/pathplanning/robot-characterization/deploying-project.rst
  source/docs/software/pathplanning/robot-characterization/generating-project.rst
  source/docs/software/pathplanning/robot-characterization/images/analysis-type.png
  source/docs/software/pathplanning/robot-characterization/images/analyzer-view.png
  source/docs/software/pathplanning/robot-characterization/images/analyzing-data.png
  source/docs/software/pathplanning/robot-characterization/images/connected-to-robot.png
  source/docs/software/pathplanning/robot-characterization/images/connecting-to-robot.png
  source/docs/software/pathplanning/robot-characterization/images/controller-settings.png
  source/docs/software/pathplanning/robot-characterization/images/data-logger-gui.png
  source/docs/software/pathplanning/robot-characterization/images/deploy-config.png
  source/docs/software/pathplanning/robot-characterization/images/dynamic-test-too-long.png
  source/docs/software/pathplanning/robot-characterization/images/dynamic-timedomain-plots.png
  source/docs/software/pathplanning/robot-characterization/images/encoder-parameters.png
  source/docs/software/pathplanning/robot-characterization/images/encoder-selection.png
  source/docs/software/pathplanning/robot-characterization/images/feedback-analysis.png
  source/docs/software/pathplanning/robot-characterization/images/feedforward-values.png
  source/docs/software/pathplanning/robot-characterization/images/gyro-config.png
  source/docs/software/pathplanning/robot-characterization/images/hide-sim-data.png
  source/docs/software/pathplanning/robot-characterization/images/highthreshold-voltage.png
  source/docs/software/pathplanning/robot-characterization/images/input-slider.png
  source/docs/software/pathplanning/robot-characterization/images/json-converters.png
  source/docs/software/pathplanning/robot-characterization/images/launch-logger.png
  source/docs/software/pathplanning/robot-characterization/images/limiting-analysis-data.png
  source/docs/software/pathplanning/robot-characterization/images/loading-config-file.png
  source/docs/software/pathplanning/robot-characterization/images/looptype.png
  source/docs/software/pathplanning/robot-characterization/images/lowthreshold-voltage.png
  source/docs/software/pathplanning/robot-characterization/images/magencoder-emi-time.png
  source/docs/software/pathplanning/robot-characterization/images/magencoder-emi-voltage.png
  source/docs/software/pathplanning/robot-characterization/images/motionthreshold-selector.png
  source/docs/software/pathplanning/robot-characterization/images/motor-selection.png
  source/docs/software/pathplanning/robot-characterization/images/optimality-criteria.png
  source/docs/software/pathplanning/robot-characterization/images/plot-view.png
  source/docs/software/pathplanning/robot-characterization/images/post-sim-hide.png
  source/docs/software/pathplanning/robot-characterization/images/quasistatic-timedomain-plots.png
  source/docs/software/pathplanning/robot-characterization/images/regular-slider.png
  source/docs/software/pathplanning/robot-characterization/images/resized-plot.png
  source/docs/software/pathplanning/robot-characterization/images/running-tests.png
  source/docs/software/pathplanning/robot-characterization/images/save-data.png
  source/docs/software/pathplanning/robot-characterization/images/saving-config-file.png
  source/docs/software/pathplanning/robot-characterization/images/selecting-data-file.png
  source/docs/software/pathplanning/robot-characterization/images/test-duration-slider.png
  source/docs/software/pathplanning/robot-characterization/images/viewing-metrics.png
  source/docs/software/pathplanning/robot-characterization/images/voltagedomain-plots.png
  source/docs/software/pathplanning/robot-characterization/images/window-size-selector.png
  source/docs/software/pathplanning/robot-characterization/images/zoomed-in-plot.png
  source/docs/software/pathplanning/robot-characterization/index.rst
  source/docs/software/pathplanning/robot-characterization/introduction.rst
  source/docs/software/pathplanning/robot-characterization/viewing-diagnostics.rst
  source/docs/software/pathplanning/trajectory-tutorial/characterizing-drive.rst
  source/docs/software/pathplanning/trajectory-tutorial/trajectory-tutorial-overview.rst
  source/redirects.txt
Labels: Type: New Article
