Repository wpilibsuite/frc-docs, pull requests merged in 2021-02, with the labels that each got.

#1171 Fix bad labview link
  source/docs/software/labview/resources/labview-resources.rst
Labels: bug

#1132 Document the drive classes and their commonly used features
  source/docs/software/actuators/wpi-drive-classes.rst
Labels: Component: WPILibJ/WPILibC, Examples

#1176 Simulation - Add Keyboard Joystick Instructions
  source/docs/software/wpilib-tools/robot-simulation/images/xboxkeyboard.png
  source/docs/software/wpilib-tools/robot-simulation/simulation-gui.rst
Labels: Needs Design Decision

#1197 Update discontinued products
  source/docs/controls-overviews/control-system-hardware.rst
Labels: Component: Hardware, Waiting On: FIRST

#1198 Add missing motor declarations
  source/docs/software/examples-tutorials/drivesim-tutorial/updating-drivetrain-model.rst
Labels: Examples

#1202 Clarify Encoder Class
  source/docs/software/sensors/encoders-software.rst
Labels: Component: Hardware

#1212 Fix formatting issue. Add Raspberry PI jni lib.
  source/docs/software/networktables/client-side-program.rst
Labels: Examples

#1222 Add Installation Note
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Type: Cleanup

#1188 Add Section Explaining CAN wiring
  source/docs/hardware/hardware-basics/can-wiring-basics.rst
  source/docs/hardware/hardware-basics/images/can-wiring-basics/daisychain.png
  source/docs/hardware/hardware-basics/index.rst
  source/docs/zero-to-robot/step-1/how-to-wire-a-robot.rst
Labels: Component: Hardware

#1229 Use WPILib RLI
  source/conf.py
  source/requirements.txt
Labels: Extension

#1210 Fix ProfiledPIDController Example Arguments
  source/docs/software/advanced-controls/controllers/profiled-pidcontroller.rst
Labels: Examples

#1240 Document Version Flow
  source/docs/contributing/frc-docs/contribution-guidelines.rst
Labels: Type: Structure

#1203 Add Unit Testing article
  source/docs/software/wpilib-tools/robot-simulation/index.rst
  source/docs/software/wpilib-tools/robot-simulation/unit-testing.rst
Labels: Type: New Article

#1245 Fix typo on translations page
  source/docs/contributing/frc-docs/translations.rst
Labels: Type: Spelling/Grammar
