Repository wpilibsuite/frc-docs, pull requests merged in 2021-09, with the labels that each got.

#1416 Cleaning up static addressing info and clarifying details.
  source/docs/networking/networking-introduction/ip-configurations.rst
Labels: Type: Cleanup

#1417 Fix math expression in AnalogInput oversampling description
  source/docs/software/hardware-apis/sensors/analog-inputs-software.rst
Labels: Examples

#1420 Open external links in new tab
  source/_static/js/external-links-new-tab.js
  source/conf.py
Labels: Type: Configuration

#1421 Update dependencies
  poetry.lock
  pyproject.toml
  source/requirements.txt
Labels: Type: Configuration, Extension

#1423 Fix bullets in contribution guidelines
  source/docs/contributing/frc-docs/contribution-guidelines.rst
Labels: Type: Cleanup

#1422 Bump tested/built version to Python 3.8
  .github/workflows/CI.yml
  readthedocs.yml
  source/docs/contributing/frc-docs/build-instructions.rst
Labels: Type: Configuration

#1424 Publish HTML and PDF zips
  readthedocs.yml
Labels: Type: Configuration

#1428 Don't give external links access to the referrer
  source/_static/js/external-links-new-tab.js
Labels: Type: Cleanup

#1341 Add Mechanism2d article
  source/docs/software/dashboards/glass/images/mechanism2d-widget.png
  source/docs/software/dashboards/glass/images/select-mechanism2d.png
  source/docs/software/dashboards/glass/index.rst
  source/docs/software/dashboards/glass/mech2d-widget.rst
  source/docs/software/examples-tutorials/wpilib-examples.rst
Labels: Type: New Article
