Repository wpilibsuite/frc-docs, pull requests merged in 2021-07, with the labels that each got.

#1389 Update Sphinx-Panels to 0.6.0
  poetry.lock
  pyproject.toml
  source/requirements.txt
Labels: Extension

#1387 Add gradlew not found to debugging article
  source/docs/software/basic-programming/images/reading-stacktraces/bad-gradlew-project.png
  source/docs/software/basic-programming/reading-stacktraces.rst
Labels: Type: New Article

#1391 Add known issue for Radio tool java version
  source/docs/yearly-overview/images/known-issues/java-installation.png
  source/docs/yearly-overview/known-issues.rst
  source/docs/zero-to-robot/step-3/radio-programming.rst
Labels: High Priority

#1386 Add additional Romi Hardware information
  source/docs/romi-robot/getting-to-know-romi.rst
  source/docs/romi-robot/hardware-support.rst
  source/docs/romi-robot/index.rst
Labels: Component: Hardware, Component: Romi, Type: New Article

#1393 Update dependencies
  poetry.lock
  pyproject.toml
  source/requirements.txt
Labels: Type: Cleanup, Type: Configuration

#1390 Refactor Homepage UI
  poetry.lock
  pyproject.toml
  source/conf.py
  source/docs/software/commandbased/binding-commands-to-triggers.rst
  source/index.rst
  source/requirements.txt
  source/stubs/advanced-programming-stub.rst
  source/stubs/api-docs-stub.rst
  source/stubs/hardware-stub.rst
  source/stubs/programming-basics-stub.rst
  source/stubs/software-tools-stub.rst
Labels: Type: Style/CSS
