Repository wpilibsuite/frc-docs, pull requests merged in 2022-01, with the labels that each got.

#1351 Add Inspector
  .github/workflows/inspector.json
  .github/workflows/update-rli-commands.yml
  .gitignore
Labels: Type: Cleanup

#1581 Fix Creating Drive Subsystem RLIs
  source/docs/software/pathplanning/trajectory-tutorial/creating-drive-subsystem.rst
Labels: Type: Cleanup

#1579 Add REV Control System Overview
  source/conf.py
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/controls-overviews/images/frc-control-system-layout-rev.svg
Labels: Addition

#1578 Fix NT Desktop Example
  source/docs/software/networktables/listening-for-change.rst
Labels: Examples

#1503 Add presentation launcher
  poetry.lock
  pyproject.toml
  source/_templates/breadcrumbs.html
  source/conf.py
  source/requirements.txt
Labels: Extension

#1653 Adding the vendor URLs
  source/docs/software/vscode-overview/3rd-party-libraries.rst
Labels: Type: New Article

#1585 Add breaking change for DesaturateWheelSpeeds rename
  source/docs/yearly-overview/yearly-changelog.rst
Labels: Addition

#1601 Fix coloring on index block
  source/index.rst
Labels: Type: Cleanup

#1683 Update REV CS Image to use 10amp fuse for PH
  source/docs/controls-overviews/images/frc-control-system-layout-rev.svg
Labels: Type: Cleanup

#1674 Update Livewindow docs
  source/docs/software/basic-programming/index.rst
  source/docs/software/basic-programming/using-test-mode.rst
  source/docs/software/dashboards/smartdashboard/test-mode-and-live-window/displaying-LiveWindow-values.rst
  source/docs/software/dashboards/smartdashboard/test-mode-and-live-window/enabling-test-mode.rst
  source/docs/software/dashboards/smartdashboard/test-mode-and-live-window/images/enabling-test-mode/explicit-test-mode-display.png
  source/docs/software/dashboards/smartdashboard/test-mode-and-live-window/images/enabling-test-mode/test-mode-display.png
  source/docs/software/driverstation/driver-station.rst
  source/docs/software/vscode-overview/index.rst
  source/docs/software/vscode-overview/using-test-mode.rst
  source/redirects.txt
Labels: Type: Cleanup, Examples, Addition

#1684 Fix broken API doc links
  source/docs/software/advanced-gradlerio/deploy-git-data.rst
Labels: Type: Cleanup

#1658 Remove Axis Camera
  source/docs/controls-overviews/control-system-hardware.rst
  source/docs/controls-overviews/control-system-software.rst
  source/docs/software/dashboards/labview-dashboard/driver-station-labview-dashboard.rst
  source/docs/software/vision-processing/axis-camera/axis-m1013-camera-compatibility.rst
  source/docs/software/vision-processing/axis-camera/calibration.rst
  source/docs/software/vision-processing/axis-camera/camera-settings.rst
  source/docs/software/vision-processing/axis-camera/configuring-an-axis-camera.rst
  source/docs/software/vision-processing/axis-camera/images/calibration/capture-images.png
  source/docs/software/vision-processing/axis-camera/images/calibration/check-camera-settings.png
  source/docs/software/vision-processing/axis-camera/images/calibration/color-threshold.png
  source/docs/software/vision-processing/axis-camera/images/calibration/enable-snapshots.png
  source/docs/software/vision-processing/axis-camera/images/calibration/hsv-calibration.png
  source/docs/software/vision-processing/axis-camera/images/calibration/load-images-in-vision-assistant.png
  source/docs/software/vision-processing/axis-camera/images/calibration/measuring-the-particle.png
  source/docs/software/vision-processing/axis-camera/images/calibration/selecting-measurements.png
  source/docs/software/vision-processing/axis-camera/images/calibration/taking-measurements.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/changing-camera-settings.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/compression.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/exposure.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/frame-rate.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/resolution.png
  source/docs/software/vision-processing/axis-camera/images/camera-settings/white-balance.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/axis-camera-setup-tool.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/camera-webpage.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/configure-advanced-network-settings.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/configure-basic-network-settings.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/configure-image-settings.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/configure-users.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/setup-page.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/setup-the-camera.png
  source/docs/software/vision-processing/axis-camera/images/configuring-an-axis-camera/tool-overview.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/building-the-dashboard.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/creating-a-dashboard-project.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/editing-the-camera-ip.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/locating-loop-2-camera-ip.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/modifying-labview-robot-code.png
  source/docs/software/vision-processing/axis-camera/images/using-the-axis-camera-at-single-network-events/setting-the-driver-station.png
  source/docs/software/vision-processing/axis-camera/index.rst
  source/docs/software/vision-processing/axis-camera/using-the-axis-camera-at-single-network-events.rst
  source/docs/software/vision-processing/index.rst
  source/docs/software/vision-processing/introduction/what-is-vision.rst
  source/redirects.txt
Labels: Needs Design Decision
