Repository wpilibsuite/frc-docs, pull requests merged in 2022-12, with the labels that each got.

#2034 Stop photofinish in htmlzip
  source/_extensions/rtd_patch.py
Labels: Extension

#1980 Update odometry tutorials after API changes
  source/docs/software/kinematics-and-odometry/differential-drive-odometry.rst
  source/docs/software/kinematics-and-odometry/mecanum-drive-odometry.rst
  source/docs/software/kinematics-and-odometry/swerve-drive-odometry.rst
Labels: Examples, Component: Pathfollowing

#2060 Remove motor controller encoder example
  source/docs/software/examples-tutorials/wpilib-examples.rst
Labels: Type: Cleanup
