Repository wpilibsuite/frc-docs, pull requests merged in 2022-04, with the labels that each got.

#1791 Added text differentiating the dashboards
  source/docs/software/dashboards/index.rst
  source/docs/software/dashboards/labview-dashboard/index.rst
  source/docs/software/dashboards/shuffleboard/index.rst
  source/docs/software/dashboards/smartdashboard/index.rst
Labels: Addition

#1801 Add PCM/PH known issue
  source/docs/software/hardware-apis/pneumatics/pneumatics.rst
  source/docs/yearly-overview/known-issues.rst
Labels: High Priority, Addition

#1799 Add warning about powering off while deploying
  source/docs/software/vscode-overview/deploying-robot-code.rst
Labels: Addition

#1702 Build with RTD Python 3.9
  readthedocs.yml
Labels: Type: Configuration

#1429 Switch to system fonts
  source/_extensions/post_process.py
  source/_extensions/post_process_tasks/systemfonts.py
Labels: Type: Style/CSS

#1812 Add librsvg2-bin as apt dep
  readthedocs.yml
Labels: bug, Type: Configuration

#1813 Add romi thinkscape course
  source/docs/romi-robot/index.rst
Labels: Addition

#1810 Update all dependencies
  make.bat
  poetry.lock
  pyproject.toml
  source/requirements.txt
Labels: Type: Configuration

#1811 Remove references to Windows 7
  source/docs/controls-overviews/control-system-software.rst
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/control-panel-dhcp.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/network-and-sharing-center.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/network-internet.png
  source/docs/networking/networking-introduction/images/roborio-troubleshooting/open-control-panel.png
  source/docs/networking/networking-introduction/images/windows-firewall/radio-buttons.png
  source/docs/networking/networking-introduction/images/windows-firewall/small-icons.png
  source/docs/networking/networking-introduction/images/windows-firewall/turn-on-off.png
  source/docs/networking/networking-introduction/roborio-network-troubleshooting.rst
  source/docs/networking/networking-introduction/windows-firewall-configuration.rst
  source/docs/software/roborio-info/roborio-ftp.rst
  source/docs/zero-to-robot/step-2/wpilib-setup.rst
Labels: Type: Cleanup

#1815 Add 10px bottom margin to content area of docs for images
  source/_static/css/frc-rtd.css
Labels: bug, Type: Style/CSS
