Repository wpilibsuite/frc-docs, pull requests merged in 2022-09, with the labels that each got.

#1807 Add some python examples
  source/docs/software/basic-programming/joystick.rst
  source/docs/software/hardware-apis/motors/servos.rst
  source/docs/software/hardware-apis/motors/using-motor-controllers.rst
  source/docs/software/hardware-apis/motors/wpi-drive-classes.rst
Labels: Needs Design Decision, Python

#1902 Bump Photofinish Dependency
  poetry.lock
  pyproject.toml
  source/conf.py
  source/requirements.txt
Labels: Type: Configuration

#1875 Add TalonFX/CTRE example to ZTR
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-cpp-java.rst
Labels: Addition

#1905 Include reference to installing vendordeps
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-cpp-java.rst
Labels: Addition

#1904 Update RobotBuilder Drive with Joysticks to use Lambdas
  source/docs/software/wpilib-tools/robotbuilder/writing-code/images/driving-with-joysticks-command-parameters-presets.png
  source/docs/software/wpilib-tools/robotbuilder/writing-code/images/driving-with-joysticks-command-parameters.png
  source/docs/software/wpilib-tools/robotbuilder/writing-code/images/driving-with-joysticks-default-command-parameters.png
  source/docs/software/wpilib-tools/robotbuilder/writing-code/robotbuilder-drive-tank.rst
Labels: Type: Cleanup
