Repository wpilibsuite/frc-docs, pull requests merged in 2022-02, with the labels that each got.

#1672 Update hidden dependencies & bump to Python 3.9
  .github/workflows/CI.yml
  .github/workflows/link-check.yml
  poetry.lock
  pyproject.toml
  source/docs/contributing/frc-docs/build-instructions.rst
  source/requirements.txt
Labels: Extension

#1700 Add link to recalc from feedforward doc.
  source/docs/software/advanced-controls/controllers/feedforward.rst
Labels: Waiting On: WPILib

#1706 Update RLIs for 2022.3.1
  .github/workflows/inspector.json
  source/docs/contributing/frc-docs/style-guide.rst
  source/docs/software/advanced-controls/controllers/profiled-pidcontroller.rst
  source/docs/software/advanced-controls/controllers/trapezoidal-profiles.rst
  source/docs/software/advanced-controls/state-space/state-space-flywheel-walkthrough.rst
  source/docs/software/advanced-controls/state-space/state-space-observers.rst
  source/docs/software/advanced-controls/trajectories/troubleshooting.rst
  source/docs/software/commandbased/command-groups.rst
  source/docs/software/commandbased/command-scheduler.rst
  source/docs/software/commandbased/commands.rst
  source/docs/software/commandbased/convenience-features.rst
  source/docs/software/commandbased/pid-subsystems-commands.rst
  source/docs/software/commandbased/profile-subsystems-commands.rst
  source/docs/software/commandbased/profilepid-subsystems-commands.rst
  source/docs/software/commandbased/structuring-command-based-project.rst
  source/docs/software/commandbased/subsystems.rst
  source/docs/software/dashboards/glass/field2d-widget.rst
  source/docs/software/dashboards/glass/mech2d-widget.rst
  source/docs/software/dashboards/smartdashboard/choosing-an-autonomous-program-from-smartdashboard.rst
  source/docs/software/hardware-apis/misc/addressable-leds.rst
  source/docs/software/hardware-apis/motors/wpi-drive-classes.rst
  source/docs/software/wpilib-tools/robot-simulation/physics-sim.rst
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-cpp-java.rst
Labels: Waiting On: WPILib

#1717 Update CameraServer code samples
  source/docs/software/vision-processing/roborio/using-the-cameraserver-on-the-roborio.rst
Labels: Type: Cleanup

#1698 Add radio troubleshooting step to upgrade npcap
  source/docs/zero-to-robot/step-3/radio-programming.rst
Labels: Needs Design Decision

#1722 Simplify project creation instructions
  source/docs/software/vscode-overview/creating-robot-program.rst
  source/docs/software/vscode-overview/images/creating-robot-program/command-palette.png
  source/docs/software/vscode-overview/images/creating-robot-program/wpilib-commands.png
  source/docs/zero-to-robot/step-4/creating-benchtop-test-program-cpp-java.rst
Labels: Type: Cleanup

#1740 Update known issues for WPILib 2022.4.1
  source/docs/yearly-overview/known-issues.rst
Labels: Addition
