Repository wpilibsuite/frc-docs, pull requests merged in 2022-11, with the labels that each got.

#1901 Update for 2023
  source/docs/yearly-overview/yearly-changelog.rst
  source/index.rst
Labels: Addition

#1965 Move roboRIO 2 imaging to ZTR
  source/docs/hardware/sensors/serial-buses.rst
  source/docs/networking/networking-introduction/roborio-network-troubleshooting.rst
  source/docs/software/roborio-info/index.rst
  source/docs/software/roborio-info/recovering-a-roborio-using-safe-mode.rst
  source/docs/software/roborio-info/roborio-introduction.rst
  source/docs/zero-to-robot/step-3/images/roborio2-imaging/sd_button.png
  source/docs/zero-to-robot/step-3/images/roborio2-imaging/teamnumber.png
  source/docs/zero-to-robot/step-3/imaging-your-roborio.rst
  source/docs/zero-to-robot/step-3/index.rst
  source/docs/zero-to-robot/step-3/roborio2-imaging.rst
  source/redirects.txt
Labels: Type: Structure

#1924 Update NetworkTables documentation for NT 4
  source/docs/contributing/wpilib/index.rst
  source/docs/software/frc-glossary.rst
  source/docs/software/networktables/client-side-program.rst
  source/docs/software/networktables/images/reading-array-values-published-by-networktables-1.png
  source/docs/software/networktables/index.rst
  source/docs/software/networktables/listening-for-change.rst
  source/docs/software/networktables/listening-for-subtable-creation.rst
  source/docs/software/networktables/multiple-instances.rst
  source/docs/software/networktables/networktables-intro.rst
  source/docs/software/networktables/networktables-networking.rst
  source/docs/software/networktables/nt4-migration-guide.rst
  source/docs/software/networktables/publish-and-subscribe.rst
  source/docs/software/networktables/reading-array-values-published-by-networktables.rst
  source/docs/software/networktables/robot-program.rst
  source/docs/software/networktables/tables-and-topics.rst
  source/docs/software/telemetry/telemetry.rst
  source/redirects.txt
Labels: Examples, Addition

#1979 Declare static import for Commands factories
  source/docs/software/commandbased/organizing-command-based.rst
Labels: Type: Cleanup, Examples
